*{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    padding: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.category ::-webkit-scrollbar-thumb {
  background: #f5f5f5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #C8C8C8;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


#header-title, .element-title {
    display: flex;
    align-items: center;
}

.navbar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: black;
}

#logo-nav {
    height: 30px;
    margin: 30px 0px;
}

.dashboard-links {
    padding-left: 0px;
    max-height: calc(100vh - 200px);
    width: calc(100% - 20px);
    padding-left: 20px;

}

.dashboard-link {
    list-style-type: none;
    margin: 20px 0px;
    border-radius: 4px 0px 0px 4px;
    padding: 0px 2px 0px 10px;
}

.dashboard-link:hover {
    background-color: #262626;
}

.dashboard-link a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16;
    width: 100%;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    height: 44px;
}

.active-page{
    background-color: #262626;
}

.active-page a{
     border-right: 2px solid white;
}

.icon-navbar {
    width: 24px;
    height: 24px;
    padding-right: 10px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.mainmain {
    margin-left: 200px;
    padding: 20px 20px;
    background-color: #F5F5F5;
    height: calc(100% - 140px);
    overflow-x: overlay;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 225px;
    padding-right: 20px;
    height: 100px;
    font-size: 25;
}

.icon-header {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}




/* Moving input fields*/

:root {
    --body: #ffffff;
    --text: black;
    --text-light: grey;
    --primary: grey;
    --border: lightgrey;
    --padding: 10px 10px;
    --line-height: 18px;
}

.input-group {
    width: auto;
    position: relative;
    border: 1px solid var(--border);
    border-radius: 4px;
    margin-bottom: 10px;
}

.input-group-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.input-group-wrapper-small{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.input-group-inline{
    display: inline-block;
    width: calc(50% - 10px);
    margin-bottom: 0px;
}

.input-group-inline-small{
    display: inline-block;
    width: calc(25% - 10px);
    margin-bottom: 0px;
    margin-right: 10px;
}


.input-group input, .input {
    padding: var(--padding);
    border: none;
    background-color: transparent;
    width: 100%;
    color: var(--text);
    font-size: 14px;
    line-height: var(--line-height);
    border-radius: 6px;
}

.input-group:hover,
    .input-group:focus-within {
    border-color: var(--primary);
}

.input-group input, .input:focus,
.input-group:hover input {
    color: var(--text);
    outline: None;
}

.input-group label {
    position: absolute;
    background-color: transparent;
    padding: var(--padding);
    line-height: var(--line-height);
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 14px;
    color: var(--text-light);
    cursor: text;
    transition: 0.1s;
}

.input-group:hover label {
    color: var(--primary);
}

.input-group:focus-within label,
.input-group .input:not(:placeholder-shown) ~ label {
    padding: 0px 5px;
    line-height: 14px;
    background-color: var(--body);
    top: -8px;
    left: 5px;
    bottom: auto;
    font-size: 12;
    color: var(--text-light);
}

/* End moving input fields */

.navbar-mobile {
display: none;
}





@media screen and (max-width: 900px) {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .mainmain::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .mainmain {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

    .navbar-left {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 130px;
        position: absolute;
        top: 0px;
        background-color: black;
        z-index: 2000;
    }

    .navbar-mobile a {
        height: 40px;
        margin-top: 10px;
    }

    #logo-nav-mobile {
        height: 30px;
    }

    .logo-nav-mobile {
        height: 35px;
        padding-top: 15px;
        padding-bottom: 5px;
    }

    .dashboard-links {
        display: flex;
        justify-content: space-between;
        padding: 0px;
    }

    .dashboard-link {
        padding: 0px;
        display: flex;
        align-items: center;
        margin: 0px;
    }

    .icon-navbar {
        padding-right: 3px;
        height: 18px;
        width: 18px;
        padding-top: 2px;
    }

    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        padding-right: 10px;
        height: 100px;
        font-size: 20;
        margin-top: 130px;
        max-width: 100%;
    }

    .icon-header {
        margin-right: 5px;
    }

    .mainmain {
        width: calc(100% - 40px);
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }


}

