.navigation-links {
  list-style-type: none;
  margin: 30px 30px 0px 60px;
  padding: 0;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.navigation-link {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 32px 7px 0px;
  text-decoration: none;
  font-family: 'Inria Serif', serif;
}

.navigation-link a:hover {
  text-decoration: underline;
}



#cart {
    display: flex;
    justify-content: left;
    align-items: top;
    margin: 20px 20px;
}


.left {
    padding-right: 50px;
    width: 60%;
    height: 100%;
    position: relative;
}

.your-bag-heading {
    font-size: 30;
    font-family: 'Inria Serif', serif;
    padding-bottom: 30px;
    border-bottom: 1px #E4E4E4 solid;
}

#items-in-cart-list{
    max-height: 500px;
    overflow: scroll;
}

.item-in-cart-list {
    list-style-type: none;
    padding: 20px 0px 15px 0px;
    border-bottom: 1px #E4E4E4 solid;
    display: flex;
    align-items: top;
}


#message{
    width: 100%;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    padding: 10px;
}



.cartItem-image{
    width: 90px;
    height: 120px;
    object-fit: cover;
    margin-right: 20px;
}

.cartItem-properties{
    display: inline-block;
    width: calc(100% - 125px);
    height: 120px;
    position: relative;
}

.cartItem-link{
    font-family: 'Inria-Serif';
    font-size: 17;
    margin-bottom: 7px;
    text-align: left;
    color: black;
}

.cartItem-description{
    font-size: 12;
    margin-bottom: 10px;
}

.cartItem-price{
    display: inline-block;
    padding-bottom: 15px;
}

.cartItem-quantity{
    display: inline-block;
    float: right;
    font-size: 12;
    line-height: 20px;
    vertical-align: bottom;
}



.removeIcon {
    height: 20px;
    padding-right: 5px;
}

.removeButton {
    background-color: transparent;
    color: #929292;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    bottom: 5px;
}







.right {
    padding-left: 50px;
    width: 40%;
}

.total-heading {
    font-size: 30;
    padding-bottom: 30px;
    font-family: 'Inria Serif', serif;
    border-bottom: 1px #E4E4E4 solid;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 37px;
}

.delivery-fee {
    padding-bottom: 37px;
    border-bottom: 1px #E4E4E4 solid;
    display: flex;
    justify-content: space-between;
}

.total-price{
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
}



#button-proceed-to-checkout {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    width: calc(100% - 20px);
    text-align: left;
    display: inline-block;
    margin: auto;
    cursor: pointer;
}