#checkout {
    margin: 20px 0px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: left;
    align-items: top;
}

.left {
    padding-right: 50px;
    width: 50%;
}

.left-content {
    border: 1px lightgrey solid;
    border-radius: 4px;

}

.order-summary-heading {
    font-size: 30;
    font-family: 'Inria Serif', serif;
    padding-bottom: 30px;
}

#items-in-cart-list{
    padding: 10 20 0 20;
    max-height: 500px;
    overflow: scroll;
}

.item-in-cart-list {
    list-style-type: None;
    padding: 10px 0px 10px 0px;
}

.cartItem-image{
    width: 80px;
    height: 120px;
    object-fit: cover;
    margin-right: 20px;
}

.cartItem-properties{
    display: inline-block;
    width: calc(100% - 105px);
    vertical-align: top;
}

.cartItem-link{
    font-family: 'Inria-Serif';
    font-size: 17;
    margin-bottom: 7px;
    text-align: left;
}

.cartItem-description{
    font-size: 12;
    margin-bottom: 10px;S
}

.cartItem-price{
    display: inline-block;
    padding-bottom: 15px;
}

.cartItem-quantity{
    display: inline-block;
    float: right;
    font-size: 12;
    line-height: 20px;
    vertical-align: bottom;
}


#delivery{
    border-top: solid 1px lightgrey;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
}


.subtotal {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 37px;
    padding: 15px 20px;
    border-top: 1px lightgrey solid;
}

.delivery-fee {
    padding-bottom: 15px;
    border-bottom: 1px lightgrey solid;
    border-width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.total-price{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    font-weight: bold;
}










.right {
    padding-left: 50px;
    width: 50%;
}

.shipping-information-heading {
    font-size: 30;
    padding-bottom: 30px;
    font-family: 'Inria Serif', serif;
}

input::placeholder {
    color: lightgrey;
    opacity: 1;
}

.shipping-input {
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom: 8px;
    width: calc(50% - 6px);
}

.shipping-input-right{
    width: calc(50% - 6px);
    margin-right: 0px;
}

.payment-options-heading {
    font-size: 30;
    padding-bottom: 30px;
    font-family: 'Inria Serif', serif;
    padding-top: 40px;
}


.line2{
    width: 130px;
    height: 1px;
    border: 2px solid black;
    position: relative;
    background-color: black;
    border-radius: 10px;
    margin-left: -2px;
    z-index: 2;
}