.main {
    margin-left: 197px;
    padding: 20px 20px;
    background-color: #F5F5F5;
}

p {
    font-size: 25;
}


.item1 { grid-area: orders; }
.item2 { grid-area: revenue; }
.item3 { grid-area: page-visits; }
.item4 { grid-area: listings; }
.item5 { grid-area: deliveries; }

.container {
  display: grid;
  grid-template-areas:
    'orders orders deliveries'
    'revenue page-visits deliveries'
    'listings listings deliveries';
  gap: 15px;
  height: calc(100vh - 50px);
  margin: 0px;
}

.item {
    text-align: left;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: -2px 2px 2px #EBEBEB,
                2px -2px 2px #EBEBEB;
    background-color: white;
}

.item p {

}
