.mainmain-content {
    background-color: white;
    border-radius: 20px;
    box-shadow: -2px 2px 2px #EBEBEB,
            2px -2px 2px #EBEBEB;
    height: 100%;
}

.sync-data-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15;
    border: grey;
    border-radius: 7px;
    background-color: #DAD5EC;
    width: 180px;
    font-family: 'Inter', inter;
    height: 40px;
}

.sync-data-img {
    height: 18px;
    margin-right: 8px;
    margin-left: 8px;
}

#left {
    line-height:30px;
    height: calc(100% - 50px);
    width: 30%;
    float: left;
    border-right: 1px solid #9A9A9A;
    padding: 25px 0px;
}



#form{
    border: 1px lightgrey solid;
    width: 230px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 25px;
}

#query{
    all: unset;
    color: black;
    font: 16px;
    height: 100%;
    width: 100%;
    padding: 0px 10px 0px 0px;;
}

: :placeholder {
    color: #959595;
}

.icon {
    width: 20px;
    height: 20px;
    padding: 10px;
}




.header-orderlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 25px);
    border-bottom: 1px solid #9A9A9A;
    padding-left: 25px;
}

.box {
    height: 20px;
    margin-right: 10px;
    display: None;
}

.header-orderlist p {
    color: grey;
    font-size: 13;
}

.header-orderId, .orderId{
    width: 60px;
}

.header-orderDate, .orderDate{
    width: 70px;
}

.header-orderStatus, .orderStatus {
    width: 120px;
    padding-right: 20px;
}

.orderlist {
    list-style: none;
    padding-left: 0px;
    line-height: 14px;

}


.orderlist-object {
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 25px);
    padding-left: 25px;
    height: 65px;
    cursor: pointer;
}

.orderList-object:hover{
    background-color: #F8F8F8;
}

.orderlist-object p{
    display: inline-block;
    font-size: 14;
    color: black;
}

.orderStatus{
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px solid lightgrey;
    height: 20px;
    padding-right: 2px;
    margin-right: 18px;
}

.orderStatus-icon{
    height: 12px;
    width: 12px;
    padding: 4px;
    display: inline-block;
    margin-right: 7;
    background-color: #FFB800;
    border-radius: 20px;
    position: relative;
    left: -1px;
    border: 1px solid lightgrey;
}

.orderStatus-nothandled .orderStatus-icon{
    background-color: #E22309;
}

.orderStatus-ontheway .orderStatus-icon{
    background-color: #FFB800;
}

.orderStatus-delivered .orderStatus-icon{
    background-color: #00CF53;
}




a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/*
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
*/










#right {
    padding: 25px 0px;
    margin-left: 30%;
}

#heading-wrapper{
    display: flex;
    align-items: center;
}

#heading-right {
    padding: 0px 25px;
    font-size: 18;
}

#selectedOrderStatus-wrapper{
    position: relative;
}

.selectedOrderStatus{
    font-size: 14;
    width: auto;
    cursor: pointer;
    position: relative;
    top: -1px;
    left: -1px;
}


#selectedOrderStatus-content{
    display: none;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: calc(100% - 40px);
    border-collapse: collapse;
    position: absolute;
    top: 20px;
    background-color: white;
    margin-left: 20px;
    box-shadow: -2px 2px 2px #EBEBEB,
                2px -2px 2px #EBEBEB;
}

#selectedOrderStatus-content a{
    border-bottom: 1px solid lightgrey;
    font-size: 14;
    padding: 2px 0px 2px 10px;
    cursor: pointer;
    width: 150px;
    width: calc(100% - 10px);
}

.orderStatus-icon-down{
    height: 14px;
    width: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.order-details {
  display: grid;
  grid-template-columns: 110px 260px 90px 260px;
  padding: 35px 25px 10px 25px;
  border-bottom: 1px solid lightgrey;
}

.grid-item {
  font-size: 13px;
  text-align: left;
  padding-bottom: 10px;
}

.grid-item-transparent {
    color: #959595;
}
.message {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    border-bottom: 1px solid lightgrey;
}

.message-title {
    padding: 20px 25px;
    font-size: 13px;
    color: #959595;
}

.message-text {
    font-size: 13px;
    padding: 20px 25px;
    max-width: 570px;
    word-wrap: break-word;
    display: block;
}

.ordered-products-title {
    padding: 20px 25px;
    font-size: 13px;
    color: #959595;
}



#items-in-order-list{
    max-height: 500px;
    overflow: scroll;
    padding: 0px 25px 15px 25px;
}

.item-in-order-list {
    list-style-type: none;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px lightgrey solid;
    border-top: 1px lightgrey solid;
    display: flex;
    align-items: top;
}


#message{
    width: 100%;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    padding: 10px;
}



.orderItem-image{
    width: 90px;
    height: 120px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 7px;
}

.orderItem-properties{
    display: flex;
    width: calc(100% - 125px);
    height: 120px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.orderItem-link{
    font-family: 'Inria-Serif';
    font-size: 17;
    text-align: left;
    color: black;
}

.orderItem-link:visited{
    color: black;
}

.orderItem-link:hover{
    text-decoration: underline;
}


.orderItem-description{
    font-size: 12;
}

.orderItem-price{
    display: inline-block;
}

.orderItem-quantity{
    display: inline-block;
    float: right;
    font-size: 12;
    line-height: 20px;
    vertical-align: bottom;
}








@media screen and (max-width: 900px) {
    .mainmain  {

        height: calc(100% - 20px);
    }

    .mainmain-content {
        display: flex;
        flex-direction: column;
        height: auto;
        overflow: auto;
    }

    #left {
        width: auto;
        height: 200px;
        max-height: 200px;
        border-bottom: 2px solid grey;
        overflow: scroll;
    }

    #right {
        max-width: auto;
        margin-left: 0px;
        min-height: 100%;
    }

    .order-details {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            'grid-item-1 grid-item-2'
            'grid-item-3 grid-item-4'
            'grid item-5 grid-item-6'
            'grid-item-7 grid-item-8';
        width: auto;
    }

    .grid-item {
      font-size: 13px;
      text-align: left;
      padding-bottom: 5px;
    }

}