#cart-preview {
    background-color: #FFFaF2 !important;
}

body{
    background-color: #FFFaF2;
}

#navbar-wrapper{
    background-color: #FFFaF2;
}

#main {
    padding-top: 100px;
}

#secondary-navbar-wrapper{
    background-color: #FFFAF2;
}

#help-wrapper {
    background-color: #FFFAF2;
    min-height: calc(100% + 100px);
    display: flex;
    justify-content: center;
    width: calc(100% - 40px);
    padding: 0px 20px;
    margin-bottom: 50px;
}

#help{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
    max-width: 1200px;
}

.left {
    width: 50%;
    height: 100%;
    padding-right:75px;
    border-right: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.header {
    font-size: 30;
    font-family: "Inria serif", serif;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: left;
}

.text1 {
    font-size: 20;
    margin-bottom: 5px;
}


.link-policies {
    text-decoration: underline;
}

.slider{
    margin-bottom: 0px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: f0f0f0;
    display: inline-block;
    width: 306px;
    position: relative;
}

.slider-link{
    display: inline-block;
    width: 150px;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0px;
}

.slider-link-selected{
    background-color: white;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
    position: relative;
}

.faqs{
    border-bottom: 1px solid black;
}

.faq-group:not(:last-child){
    border-bottom: 1px solid black;
}

.faq-group-title{
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 20;
    font-weight: 600;
}

.faq{
    border-top: 1px solid black;
    padding: 7px 0px;
    cursor: pointer;
}

.faq-title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-title{
    font-size: 16;
}

.faq-icon{
    height: 30px;
    width: 30px;
    transition: 0.2s;
}

.faq-content{
    display: None;
    padding-top: 10px;
    font-size: 15;
}



.right-wrapper {
    width: 50%;
    height: 100%;
    padding-left: 75px;
}

.right {
    width: 450px;
    margin-left: 0;
    margin-right: auto;
}

.message-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-form textarea {
    min-height: 150px;
    width: 450px;
    padding-top: 8px;
    font-size: 16;
}

.input-form {
    font-size: 16;
    border: 0;
    border: 1px solid grey;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    height: 45px;
    padding-left: 15px;
    width: 450px;
    margin-bottom: 5px;
    display: block;
}

.input-form:focus{
    outline: 1px solid black;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
}

.message-button-wrapper {
    align-self: flex-end;
}

.message-button {
    background-color: black;
    color: white;
    font-size: 16;
    font-weight: 500;
    padding: 5px 25px;
    height: 40px;
    outline: None;
    border: None;
    border-radius: 4px;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
}

.message-button:hover{
    background-color: #444444;
    transition: 0.5s;
    box-shadow: 0px 1px 10px 3px rgba(0,0,0,0.2);
}




.thankYou-wrapper{
    display: flex;
    align-items: center;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #000000;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #000000;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #000000;
  }
}

.thankYou{
    display: inline-block;
    font-size: 18;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}





@media screen and (max-width: 900px) {
    #main {
        padding-top: 10px;
    }


    #help-wrapper{
        margin: 0px;
        width: 100%;
    }

    #help{
        justify-content: start;
        flex-direction: column;
    }

    .left {
        width: 100%;
        height: auto;
        padding-right: 0px;
        margin-bottom: 50px;
        border-right: None;
        flex-direction: column;
    }

    .slider{
        margin-bottom: 0px;
        border: 1px solid grey;
        border-radius: 4px;
        background-color: f0f0f0;
        display: inline-block;
        width: 247px;
        position: relative;
    }

    .slider-link{
        display: inline-block;
        width: 120px;
        text-align: center;
        border-radius: 4px;
        padding: 5px 0px;
    }

    .slider-link-selected{
        background-color: white;
        box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
        position: relative;
    }

    .faq-group-title{
        text-decoration: underline;
    }

    .faq-title{
        font-size: 16;
    }

    .faq-icon{
        width: 26px;
        height: 26px;
    }


    .right-wrapper{
        padding: 0px;
        width: 100%;
    }

    .right{
        width: 100%;
    }

    .input-form, .message-form textarea{
        width: 100%;
        padding-left: 10px;
        font-size: 16;
    }
}