.background {
    background-color: #FFF8ED;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 200px;
}

.background a {
    font-size: 15;
    font-family: 'Inria Serif', serif;
    color: #DDBC9B;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section{
    width: calc(100% - 60px);
    position: relative;
    padding: 0px 30px;
}

.text-big {
    font-size: 45;
    font-family: 'Inria Serif', serif;
    color: #DDBC9B;
    max-width: 500px;
    margin-bottom: 40px;
    z-index: 2;
    display: inline-block;
    position: relative;
}

.text-big-line{
    font-size: 47;
    font-family: 'Inria Serif', serif;
}

.text-big-white{
    color: white;
    font-family: 'Inria Serif', serif;
}

.arrow-right {
    height: 22px;
}

.arrow-right-black {
    height: 20px;
}

#image-home-1 {
    width: 50%;
    max-width: 500px;
    height: auto;
    position: absolute;
    margin-left: 290px;
    top: -20px;
    z-index: 1
}

#image-home-2 {
    width: 50%;
    max-width: 500px;
    height: auto;
    display: inline-block;
    margin-right: 20px;
}

.section2{
    display: flex;
    align-items: center;
}

.section2-content{
    display: inline-block;
    max-width: calc(50% - 30px);
}


.text-small {
    font-size: 18;
    font-weight: 300;
    margin-bottom: 20px;
}

.link-become-seller {
    font-size: 16;
    display: flex;
    align-items: center;
    font-weight: 300;
}




.shops-pushed {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: space-between;
    width: calc(100% - 270px);
    padding: 0px 30px;
    margin: 100px 0px;
}

.shop {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 180px;
    margin: 0px 20px 0px 0px;
}

.shop a {
    font-family: 'Inria Serif', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-shop {
    height: 120px;
    width: 120px;
    padding: 20px;
    margin-bottom: 15px;
    object-fit: contain;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
}
