.background {
    background-color: #FFF8ED;
    width: calc(100% - 40px);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 200px;
    padding: 0px 20px;
}

.background a {
    font-size: 15;
    font-family: 'Inria Serif', serif;
    color: #DDBC9B;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section{
    width: 100%;
    position: relative;
    max-width: 1200px;
}

.text-big {
    font-size: 45;
    font-family: 'Inria Serif', serif;
    color: #DDBC9B;
    max-width: 500px;
    margin-bottom: 40px;
    z-index: 2;
    display: inline-block;
    position: relative;
}

.text-big-line{
    font-size: 47;
    font-family: 'Inria Serif', serif;
}

.text-big-white{
    color: white;
    font-family: 'Inria Serif', serif;
}

.arrow-right {
    height: 22px;
}

.arrow-right-black {
    height: 20px;
}

#image-home-1 {
    width: 50%;
    max-width: 500px;
    height: auto;
    position: absolute;
    margin-left: 290px;
    top: -20px;
    z-index: 1
}

.background-second{
    display: flex;
    justify-content: center;
    width: calc(100% - 40px);
    padding: 0px 20px;
}

#image-home-2 {
    width: 50%;
    max-width: 500px;
    height: auto;
    display: inline-block;
    margin-right: 20px;
}

.section2{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.section2-content{
    display: inline-block;
    max-width: calc(50% - 30px);
}


.text-small {
    font-size: 18;
    font-weight: 300;
    margin-bottom: 20px;
}

.link-become-seller {
    font-size: 16;
    display: flex;
    align-items: center;
    font-weight: 300;
}


.shops-pushed-wrapper{
    display: flex;
    justify-content: center;
    width: calc(100% - 40px);
    padding: 0px 20px;
    margin: 100px 0px;
}

.shops-pushed {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.shop {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 180px;
    margin: 0px 20px 0px 0px;
}

.shop a {
    font-family: 'Inria Serif', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-shop {
    height: 120px;
    width: 120px;
    padding: 20px;
    margin-bottom: 15px;
    object-fit: contain;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
}









.recommendations-wrapper{
    width: calc(100% - 40px);
    padding: 0px 20px;
    display: flex;
    justify-content: center;
}


.recommendations {
    margin: 45px 0px;
    width: 100%;
    max-width: 1200px;
}

.recommendations-upper {
    margin-bottom: 45px;
}

.recommendations-h1{
    font-family: 'Inria serif', serif;
    font-size: 24;
    margin-bottom: 4px;
}

.recommendations-h2 {
    margin-bottom: 10px;
    font-size: 15;
}






.items-wrapper{
    position: relative;
}

.items {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: left;
    align-content: space-between;
    width: 100%;
    margin-right: 0px;
    position: relative;
    scroll-behavior: smooth;
}

/*
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 25px;
    grid-auto-rows: 0.5fr;
*/

.item {
    width: 100%;
    padding: 0px 25px 0px 0px;

    position: relative;
    cursor: pointer;
}


.recommended-item-image{
    margin-bottom: 10px;
    width: 220px;
    height: 250px;
    object-fit: cover;
    border-radius: var(--borderRadiusImage);
}

.recommended-item-first-image{
    display: block;
}

.recommended-item-second-image{
    display: None;
}

.recommended-item-seller{
    font-family: 'Inria Serif', serif;
    width: 100%;
    margin-bottom: 0px;
    font-size: 16px;
}

.recommended-item-title{
    font-family: 'Inria Serif', serif;
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
    padding-bottom: 0px;
}

.recommended-item-price{
    font-family: 'Inter', sans-serif;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
}


.scroll-button{
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    right: 0px;
    top: 100px;
    border: None;
    cursor: pointer;
    transition: 0.5s;
}

.scroll-button:hover{
    background-color: rgba(255, 255, 255, 0.95);
}

.scroll-button-left{
    position: absolute;
    display: None;
    left: 0px;
}

.scroll-button img{
    height: 30px;
    width: 30px;
}

.scroll-button-left img{
    transform: rotate(180deg);
}


.items::-webkit-scrollbar-track
{
	display: None;
}

.items::-webkit-scrollbar
{
    display: None;
}











@media screen and (max-width: 900px) {


    #image-home-1 {
        margin-left: 0px;
    }

    .recommendations-wrapper{
        width: 100%;
    }

    .recommended-item-image{
        width: 190px;
        height: 230px;
    }
}