.item p {
    font-family: 'Inria Serif', serif;
}


/*
.active {
  background-color: #f5f5f5;
}
*/





#item {
    display: flex;
    justify-content: center;
    align-items: top;
    margin: 20px 20px;
}

.nav-images {
    display: inline-block;
    vertical-align: top;
    height: calc(100vh - 300px);
    overflow: hidden;
    width: 100px;
}

.nav-image:hover {
    border: 2px solid black;
}

.nav-image {
    display: block;
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
    object-fit: cover;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid white;
    cursor: pointer;
}


#item-image{
    height: calc(100vh - 300px);
    width: 40%;
    margin-right: 100px;
    margin-left: 25px;
    display: inline-block;
    vertical-align: top;
    object-fit: cover;
}


.description {
    width: calc(60% - 100px);
    display: inline-block;
    vertical-align: top;
}

.description-values{
    height: 35%;
}

.item-title {
    font-size: 30px;
    font-family: 'Inria Serif', serif;
    padding-bottom: 20px;
}

.item-price {
    font-size: 27px;
    font-weight: 500;
    padding-bottom: 4px;
}

.item-price-old {
    font-size: 17px;
    padding-bottom: 20px;
}

.dropdown-wrapper{
    position: relative;
}

.button-dropdown{
    width: 100%;
    margin-bottom: 10px;
    font-size: 18;
    font-weight: 400;
    padding: 4px 16px 4px 16px;
    height: 49px;
}

.content-dropdown{
    width: calc(100% - 2px);
    font-size: 18;
    font-weight: 400;
    top: 46px;
}

.option-dropdown{
   padding: 12px 20px 12px 20px;
}



#button {
    background-color: var(--buttonBackgroundColor);
    color: white;
    border-radius: 4px;
    padding: 14px 16px 14px 16px;
    width: 100%;
    font-size: 18;
    text-align: left;
    font-weight: 300;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    border: None;
}

#customization-error{
    display: None;
}



