.item p {
    font-family: 'Inria Serif', serif;
}


/*
.active {
  background-color: #f5f5f5;
}
*/



#item-wrapper{
    display: flex;
    justify-content: center;
    width: calc(100% - 40px);
    padding: 0px 20px;
}

#item {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: top;
    margin: 0px 20px;
    position: relative;
}

.nav-images {
    display: inline-block;
    vertical-align: top;
    height: calc(100vh - 300px);
    overflow: scroll;
    width: 100px;
}

.nav-images::-webkit-scrollbar{
    display: None;
}

.nav-image:hover {
    border: 2px solid black;
}

.nav-image {
    display: block;
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    object-fit: cover;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid white;
    cursor: pointer;
}

#item-image-wrapper{
    height: calc(100vh - 300px);
    width: 40%;
    margin-right: 100px;
    margin-left: 25px;
    display: inline-block;
}

#item-image{
    vertical-align: top;
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.description {
    width: calc(60% - 100px);
    display: flex;
    flex-direction: column;
}

.description-values{
    margin-bottom: 30px;
}

.item-title {
    font-size: 30px;
    font-family: 'Inria Serif', serif;
    padding-bottom: 20px;
}

.item-price {
    font-size: 27px;
    font-weight: 500;
    padding-bottom: 4px;
}

.item-price-old {
    font-size: 17px;
    padding-bottom: 20px;
}

.dropdown-wrapper{
    position: relative;
}

.button-dropdown{
    width: 100%;
    margin-bottom: 10px;
    font-size: 18;
    font-weight: 400;
    padding: 4px 16px 4px 16px;
    height: 49px;
}

.content-dropdown{
    width: calc(100% - 2px);
    font-size: 18;
    font-weight: 400;
    top: 46px;
}

.option-dropdown{
   padding: 12px 20px 12px 20px;
}



#button {
    background-color: var(--buttonBackgroundColor);
    color: white;
    border-radius: 4px;
    padding: 14px 16px 14px 16px;
    width: 100%;
    font-size: 18;
    text-align: left;
    font-weight: 300;
    display: inline-block;
    cursor: pointer;
    border: None;
}

#customization-error{
    display: None;
}

#item-properties{
    margin-top: 100px;
}

.item-property{
    width: 100%;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin: -1px 0px;
}

.button-item-property{
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 18;
    padding: 0px 10px;
    cursor: pointer;
}


.button-item-property:hover{
    background-color: #f5f5f5;
}

.content-item-property{
    display: None;
    padding: 10px 10px 20px 10px;
    font-size: 16;
    font-weight: 300;
}



