:root{
    --NoneIfNotEncomi: None;

    --backgroundColor: white;
    --borderRadius: 4px;
    --borderRadiusImage: 0px;
    --buttonBackgroundColor: black;
    --shopItemDisplay: repeat(auto-fit, minmax(260px, 280px));
    --shopRelativeImageHeight: 85%;
}

