a {
    text-decoration: none;
    color: black;
}

.listings-new-content {
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: -2px 2px 2px #EBEBEB,
            2px -2px 2px #EBEBEB;
    height: calc(100% - 50px);
}


.save-listing-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15;
    border: grey;
    border-radius: 7px;
    background-color: #F5E6D0;
    width: 180px;
    font-family: 'Inter', inter;
    height: 40px;
    color: black;
    text-decoration: None;
}

.save-img {
    height: 18px;
    margin-right: 8px;
    margin-left: 8px;
}




.listings-new-content-header {
    display: flex;
    align-items: center;
}

.arrow_to_left {
    height: 25px;
    margin-right: 5px;
}

.listings-new-content-header p {
    font-size: 20;
}

.listings-new {
    display: flex;
    justify-content: center;
    max-height: 100%;
    overflow: scroll;
}

.listings-new-left {
    width: 50%;
}

.listings-new-right {
    width: 50%;
}

.nav-images-wrapper{
    display: inline-block;
    vertical-align: top;
    height: calc(100vh - 300px);
    position: relative;
}

.nav-images {
    max-height: calc(100vh - 300px);
    overflow: scroll;
    width: 100px;
    position: relative;
    scroll-behavior: smooth;
}

.nav-images::-webkit-scrollbar{
    display: None;
}

.nav-image:hover {
    border: 2px solid black;
}

.nav-image {
    display: block;
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    object-fit: cover;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid white;
    cursor: pointer;
}

.nav-image:last-child{
    margin-bottom: 0px;
}

#item-image-wrapper{
    height: calc(100vh - 300px);
    width: 40%;
    margin-right: 60px;
    margin-left: 25px;
    display: inline-block;
}

#item-image{
    vertical-align: top;
    object-fit: cover;
    height: 100%;
    width: 100%;
}


#item-image-wrapper-mobile{
    display: None;
}









.inputfield-item-title {
    padding: 7px;
    max-width: 400px;
    min-width: 400px;
    min-height: 50px;
    height: 50px;
    color: black;
    border-radius: 4px;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
}

.inputfield-customization-option {
    padding: 7px;
    width: 202px;
    height: 40px;
    color: black;
    border-radius: 4px;
    border: 1px solid lightgrey;
    margin-right: 10px;
}

.price-field {
    padding: 7px;
    width: 166px;
    height: 40px;
    color: black;
    border-radius: 4px;
    border: 1px solid lightgrey;
    margin-right: 10px;
}

.price-field-customization {
    padding: 7px;
    width: 136px;
    height: 40px;
    color: black;
    border-radius: 4px;
    border: 1px solid lightgrey;
    margin-right: 10px;
}

.inputfield-customization-group {
    padding: 7px;
    max-width: 400px;
    min-width: 400px;
    height: 40px;
    color: black;
    border-radius: 4px;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
}

.inputfield-text {
    padding: 7px;
    max-width: 400px;
    min-width: 400px;
    min-height: 80px;
    color: black;
    border-radius: 4px;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
}






.block2 {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.block2 p {
    margin-right: 25px;
}

.block3-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hamburger {
    height: 11px;
    margin-right: 10px;
}

.hamburger:hover{
    cursor: pointer;
}

.add-group-button , .add-option-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14;
    border: grey;
    border-radius: 7px;
    background-color: #F5E6D0;
    width: 195px;
    font-family: 'Inter', inter;
    height: 40px;
    color: black;
    text-decoration: None;
    margin-right: 10px;
}

.add-img {
    height: 18px;
    margin-right: 8px;
    margin-left: 8px;
}

.block4 {
    display: flex;
    margin-bottom: 35px;
}

.block5 {
    display: flex;
    flex-direction: column;
}










