.listings-content {
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: -2px 2px 2px #EBEBEB,
            2px -2px 2px #EBEBEB;
    height: calc(100% - 50px);
}

.listings-buttons-wrapper {
    display: flex;
}

.create-listing-button {
    margin-right: 7px;
}

.sync-data-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15;
    border: grey;
    border-radius: 7px;
    background-color: #F5E6D0;
    border: 1px solid lightgrey;
    width: 180px;
    font-family: 'Inter', inter;
    height: 40px;
    color: black;
    text-decoration: None;
}

.sync-data-img {
    height: 18px;
    margin-right: 8px;
    margin-left: 8px;
}









.categories {
    width: 230px;
    position: absolute;
}

.categories p {
    font-size: 20;
    font-family: 'Inter', inter;
    padding: 10px 0px 10px 5px;
    margin-bottom: 22px;
    font-weight: 400;
}

.category-links {
    padding-left: 0px;
    max-height: calc(100vh - 200px);
    border-right: 2px solid lightgrey;
    z-index: 1;
}

.category-link{
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 228px;
    z-index: 3;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
}

.category-link a{
    font-family: 'Inria Serif', serif;
    text-decoration: none;
    color: black;
    font-size: 16;
    width: 223px;
    padding-left: 5px;
}

.category-link-selected{
    border-right: 2px solid black;
    font-weight: 600;
}

.category-link:hover{
    background-color: #F5F5F5;
}

.add-category-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15;
    border: 1px solid lightgrey;
    border-radius: 7px;
    font-family: 'Inter', inter;
    height: 40px;
    margin-top: 10px;
    display: None;
}

.add-category-img {
    height: 18px;
    margin-right: 8px;
    margin-left: 8px;
}







#form{
    border: 1px lightgrey solid;
    width: 230px;
    height: 30px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    height: 40px;
}

#query{
    all: unset;
    color: black;
    font: 16px;
    height: 100%;
    width: 100%;
    padding: 0px 10px 0px 0px;;
}

: :placeholder {
    color: #959595;
}

.icon {
    width: 20px;
    height: 20px;
    padding: 10px;
}






.listings {
    margin-left: 270px;
    width: calc(100% - 270px);
    float: left;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: left;
    width: calc(100% - 10px);
    margin-right: 0px;
    max-height: calc(100% - 50px);
    overflow: scroll;
    position: relative;
    padding: 10px;
    top: -10px;
    left: -10px;
}

.item {
    padding: 10px 10px 20px 10px;
    position: relative;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    box-shadow: -1px 1px 5px #ECECEC,
                1px -1px 5px #ECECEC;
}

.item-image {
    margin-bottom: 10px;
    border-radius: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.item-second-image{
    display: None;
}

.item-title, .item-price {
    font-size: 14;
    margin-bottom: 10px;
}

.item-price {
    font-weight: bold;
    font-family: 'Inter', inter;
    margin-bottom: 10px;
}


.items-sold {
    color: #A0A0A0;
    font-size: 12;
    font-family: 'Inter', inter;
}

.items-sold-img {
    height: 16px;
    padding-right: 5px;
}












@media screen and (max-width: 900px) {
    #header {
        padding-right: 5px !important;
    }

    .listings-buttons-wrapper {
        display: block;
    }

    .create-listing-button {
        margin-bottom: 5px;
    }


    .listings-content {
        height: auto;
        overflow: auto;
    }

    .categories {
        width: 100%;
        position: relative;
        margin-bottom: 30px;
    }

    .category-link {
        width: 100%;
    }

    #form{
        width: 100%;
        margin-bottom: 30px;
    }

    .listings {
        margin-left: 0px;
        width: 100%;
        float: left;
    }

    .items {
        width: 100%;
        max-height: 10000px;
    }






}