*{
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: row;

}

#left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#logo-nav {
    height: 35px;
    padding-top: 15px;
}

#left p {
    font-size: 30;
    margin: 170px 0px 60px 0px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: auto;
}


.input-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15;
    border: 0;
    border-bottom: 1px solid lightgrey;
    font-family: 'Inter', inter;
    height: 40px;
    width: 300px;
}

.login-button {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 5px 0px;
    border-radius: 4px;
}




#right {
    width: 50%;
    position: relative;
    height: 100vh;
}

#picture-login {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
}


.text-picture {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 100px;
    width: 350px;
    color: white;
}

.text-big {
    font-family: 'Inria serif', serif;
    font-size: 30;
    margin-bottom: 10px;
}

.text-small {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}