.mainmain{
    display: None;
}

#main, #navbar {
    background-color: #FFF8ED !important;
}

#navbar-wrapper {
    background-color: #FFF8ED !important;
}

#secondary-navbar {
    display: none;
}

#cart-preview {
    background-color: #FFF8ED !important;
}

#background-footer {
    background-color: #FFF8ED !important;
    margin-top: 75px;
}




.wrapper {
    background-color: #FFF8ED;
    width: 100%;
}


[data-custom-class='wrapper'] {
    padding: 25px 25px 25px 25px !important;
}

[data-custom-class="link"] {
    color: black;
}








