.settings-block1-info {
    padding: 30px 25px 20px 25px;
    border-bottom: 1px solid lightgrey;
}

.settings-block1-fields {
    display: flex;
}

.block-heading-info {
    font-size: 18;
    font-weight: 500;
    padding-bottom: 25px;
}





.info-changes-button, .appearance-changes-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15;
    border: grey;
    border-radius: 7px;
    background-color: #EA8D8D;
    border: 1px solid lightgrey;
    width: 205px;
    font-family: 'Inter', inter;
    height: 40px;
    cursor: pointer;
    margin-top: 15px;
}

.sync-data-img {
    height: 18px;
    margin-right: 8px;
    margin-left: 8px;
}

.settings-block1-info a , .settings-block2-info a {
    text-decoration: none;
    color: black;
}





.T1 { grid-area: header; }
.I1 { grid-area: menu; }
.T2 { grid-area: main; }
.I2 { grid-area: right; }
.T3 { grid-area: footer; }
.I3 { grid-area: footer2; }


.settings-block1-content {
    display: grid;
    grid-template-areas:
    'header menu'
    'main right'
    'footer footer2';
    max-width: 400px;
    row-gap: 5px;
}

.block1-titles {
    margin-bottom: 12px;
    color: grey;
    font-size: 15;
}

.block1-info {
    font-size: 15;
}






.settings-block2-info {
   padding: 30px 25px 20px 25px;
   margin-bottom: 20px;
}

.block2-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: left;
}

.block2-titles {
    color: grey;
    margin-bottom: 10px;
    font-size: 16;
}

.block2-images {
    display: flex;
    width: 100%;
    height: 280px;
    margin: 15px 0px 60px 5px;
}

.image-page {
    width: 600px;
    height: 280px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-right: 35px;
}

.image-page-mobile {
    width: auto;
    height: 280px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}















@media screen and (max-width: 900px) {
    .block2-images {
        overflow: auto;
        height: auto;
    }



}