#save-policies-button{
    display: flex;
}

.settings-block1, .settings-block2 {
    padding: 30px 25px 20px 25px;
    border-bottom: 1px solid lightgrey;
}

.settings-block1-fields {
    display: flex;
}

.block-heading {
    font-size: 18;
    font-weight: 500;
    padding-bottom: 12px;
}

.block1-inputfield {
    padding: 7px;
    max-width: 400px;
    min-width: 400px;
    min-height: 150px;
    margin-right: 8px;
    color: black;
    border-radius: 4px;
    border: 1px solid lightgrey;
}








.block2-upper {
    display: flex;
    justify-content: space-between;
    width: 808px;
    margin-bottom: 20px;
}

.block2-text{
    color: grey;
    margin-bottom: 8px;
}

.block2-boxes input {
    margin-bottom: 10px;
}

.block2-boxes label {
    font-size: 16;
}

.G1 { grid-area: header; }
#returns-input { grid-area: menu; }
.G2 { grid-area: main; }
.G3 { grid-area: right; }
#exchanges-input { grid-area: footer; }
.G4 { grid-area: footer2; }
.G5 { grid-area: footer3; }
#cancellation-input { grid-area: footer4; }


.block2-details {
    display: grid;
    grid-template-areas:
    'header menu main'
    'right footer footer2'
    'footer3 footer4 footer4';
    max-width: 400px;
    row-gap: 5px;
}

#returns-input, #exchange-input {
    width: 45px;
    height: 35px;
    border-radius: 6px;
    padding-left: 5px;
    border: solid 1px lightgrey;
}

#cancellation-input {
    height: 35px;
    width: 215px;
    border-radius: 6px;
    padding-left: 5px;
    border: solid 1px lightgrey;
}

.block2-details p {
    text-align: left;
    padding-top: 7px;
    padding-right: 12px;
}




.settings-block3 {
   padding: 30px 25px 20px 25px;
   margin-bottom: 20px;
}

.block3-inputfield {
    padding: 7px;
    max-width: 808px;
    min-width: 808px;
    min-height: 150px;
    color: grey;
    border-radius: 4px;
    border: 1px solid lightgrey;
}

.settings-block3-fields {
    display: flex;
}