.settings-content {
    background-color: white;
    border-radius: 20px;
    box-shadow: -2px 2px 2px #EBEBEB,
            2px -2px 2px #EBEBEB;
}

#settings-content-blocks {
    height: calc(100% - 50px);
    overflow-y: scroll;
}



.save-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15;
    border: grey;
    border-radius: 7px;
    background-color: #EA8D8D;
    border: 1px solid lightgrey;
    width: 180px;
    font-family: 'Inter', inter;
    height: 40px;
    cursor: pointer;
}

.sync-data-img {
    height: 18px;
    margin-right: 8px;
    margin-left: 8px;
}




.navbar-top {
    border-bottom: solid 2px lightgrey;
    padding: 20px 25px 0px 25px;
}


.navbar-top-links {
    z-index: 1;
    display: flex;
    justify-content: left;
}

.navbar-top-link{
    list-style-type: none;
    padding-bottom: 7px;
    z-index: 3;
    cursor: pointer;
    color: grey;
    margin-right: 20px;
    position: relative;
    top: 2px;
}

.navbar-top-link a{
    text-decoration: none;
    color: grey;
    font-size: 16;
    width: 223px;
    padding: 10px 0px 10px 0px;
}

.navbar-top-link-selected{
    border-bottom: 2px solid #EA8D8D;
    color: black;
}

.navbar-top-link-selected a{
    color: black;
}

.navbar-top-link:hover{
    color: black;
}






.settings-block1, .settings-block2 {
    padding: 30px 25px 20px 25px;
    border-bottom: 1px solid lightgrey;
}

.settings-block1-fields {
    display: flex;
}

.block-heading {
    font-size: 18;
    font-weight: 500;
    padding-bottom: 12px;
}

.block1-inputfield {
    padding: 7px;
    max-width: 400px;
    min-width: 400px;
    min-height: 150px;
    margin-right: 8px;
    color: black;
    border-radius: 4px;
    border: 1px solid lightgrey;
}








.block2-upper {
    display: flex;
    justify-content: space-between;
    width: 808px;
    margin-bottom: 20px;
}

.block2-text{
    color: grey;
    margin-bottom: 8px;
}

.block2-boxes input {
    margin-bottom: 10px;
}

.block2-boxes label {
    font-size: 16;
}

.G1 { grid-area: header; }
#returns-input { grid-area: menu; }
.G2 { grid-area: main; }
.G3 { grid-area: right; }
#exchanges-input { grid-area: footer; }
.G4 { grid-area: footer2; }
.G5 { grid-area: footer3; }
#cancellation-input { grid-area: footer4; }


.block2-details {
    display: grid;
    grid-template-areas:
    'header menu main'
    'right footer footer2'
    'footer3 footer4 footer4';
    max-width: 400px;
    row-gap: 5px;
}

#returns-input, #exchange-input {
    width: 45px;
    height: 35px;
    border-radius: 6px;
    padding-left: 5px;
    border: solid 1px lightgrey;
}

#cancellation-input {
    height: 35px;
    width: 215px;
    border-radius: 6px;
    padding-left: 5px;
    border: solid 1px lightgrey;
}

.block2-details p {
    text-align: left;
    padding-top: 7px;
    padding-right: 12px;
}




.settings-block3 {
   padding: 30px 25px 20px 25px;
}

.block3-inputfield {
    padding: 7px;
    max-width: 808px;
    min-width: 808px;
    min-height: 150px;
    color: grey;
    border-radius: 4px;
    border: 1px solid lightgrey;
}

.settings-block3-fields {
    display: flex;
}