#cart-preview {
    background-color: var(--backgroundColor) !important;
}

#navbar-wrapper{
    background-color: var(--backgroundColor);
}

#main {
    margin: 0px;
    background-color: var(--backgroundColor);
}

#secondary-navbar-wrapper {
    display: none;
}

#shop-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    padding: 0px 20px;
}

#shop{
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.navigation{
    width: 230px;
    position: fixed;
}

.category-links {
    padding-left: 0px;
    max-height: calc(100vh - 200px);
    border-right: 2px solid lightgrey;
    z-index: 1;
}

.category-link{
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 228px;
    z-index: 3;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;

}

.navigation a{
    font-family: 'Inria Serif', serif;
    text-decoration: none;
    color: black;
    font-size: 16;
    width: 213px;
    padding-left: 15px;
}

.category-link-selected a{
    border-right: 2px solid black;
    font-weight: 600;
}

.category-link:hover{
    background-color: #F5F5F5;
}



#search{
    background-color: #f5f5f5;
    border: 1px #f5f5f5 solid;
    width: 230px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

#query{
    all: unset;
    color: black;
    font: 16px;
    height: 100%;
    width: 100%;
    padding: 0px 10px 0px 0px;;
}

: :placeholder {
    color: black;
    opacity: 0.7;
}

.icon {
    width: 20px;
    height: 20px;
    padding: 10px;
}

/* Gehörte zum Sort buttom
.sort-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sort{
    border: 1px #DADADA solid;
    border-radius: 4px;
    padding: 6px 10px;
    width: 221px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
}
*/

.arrow-down {
    width: 24px;
    height: 24px;
    margin: 0 0 0 125px;
    float: right;
}

.products {
    margin-left: 270px;
    width: calc(100% - 270px);
    float: left;
}

/*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
*/

.items {
    display: grid;
    grid-template-columns: var(--shopItemDisplay);
    grid-column-gap: 25px;
    grid-auto-rows: 0.5fr;
    justify-content: left;
    align-content: space-between;
    width: calc(100% - 10px);
    margin-right: 0px;
}

.item {
    width: 100%;
    padding: 0px 10px 35px 10px;
    height: 400px;
    position: relative;
    cursor: pointer;
}

/*
.items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

.item {
  background: grey;
  display: flex;
}

.item:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(9/16 * 100%);
}
*/

/*
.item-image-container{

    position: relative;
    padding-top: 75%;}
*/
.item-image{
    margin-bottom: 10px;
    width: 100%;
    height: var(--shopRelativeImageHeight);
    object-fit: cover;
    border-radius: var(--borderRadiusImage);
}

.item-first-image{
    display: block;
}

.item-second-image{
    display: None;
}

.item-seller{
    font-family: 'Inria Serif', serif;
    width: 100%;
    margin-bottom: 0px;
    font-size: 16px;
    display: var(--NoneIfNotEncomi);
}

.item-title{
    font-family: 'Inria Serif', serif;
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
}

.item-price{
    font-family: 'Inter', sans-serif;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
}

.category-links a {
  display: block;
  height: 100%;
}





.dropdown-wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 30px;
}

/* The dropdown container */
/*.dropdown {
    width: 21%;
    float: right;
    overflow: hidden;
}*/

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: 1px #DADADA solid;
    border-radius: 4px;
    outline: none;
    color: black;
    padding: 6px 10px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */

    display: flex;
    flex-direction: row;
    align-items: center;
    whitespace: no-wrap;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #f5f5f5;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f5f5f5;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}








:root {
	 --primary: #DDBC9B;
	 --greyLight: #23adad e1;
	 --greyLight-2: #cbe0dd;
	 --greyDark: #2d4848;
}

ul {
	 list-style-type: none;
}

@media only screen and (max-width: 900px) {
	 .items-list {
		 grid-template-columns: repeat(2, 1fr);
	}
}

.page {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 40px;
	 width: 500px;
	 border-radius: 4px;
 	 box-sizing: border-box;
	 letter-spacing: 0.6px;
	 margin: 20px 0px 40px 260px;
	 display: none;
}
.page__numbers, .page__btn, .page__dots {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 margin: 0.8rem;
	 font-size: 15;
	 cursor: pointer;
}
.page__dots {
	 width: 10px;
	 height: 10px;
	 color: var(--greyLight);
	 cursor: initial;
}

.page__numbers {
	 width: 30px;
	 height: 30px;
	 border-radius: 4px;
}
.page__numbers:hover {
	 color: var(--primary);
}
.page__numbers.active {
	 color: #fff;
	 background: var(--primary);
	 font-weight: 600;
	 border: 1px solid var(--primary);
}
.page__btn {
	 color: var(--greyLight);
	 pointer-events: none;
}
.page__btn.active {
	 color: var(--greyDark);
	 pointer-events: initial;
}
.page__btn.active:hover {
	 color: var(--primary);
}



















@media screen and (max-width: 900px) {
    #secondary-navbar-wrapper{
        display: block;
    }

    .icon {
        height: 30px;
        width: 30px;
        padding: 5px;
    }

    .navigation{
        display: None;
    }

    #shop-wrapper{
        width: 100%;
        margin-top: 20px;
    }

    .button-dropdown{
        font-size: 14;
        width: 180px;
    }

    .image-dropdown{
        width: 20px;
        height: 20px;
    }

    .content-dropdown{
        width: 180px;
    }

    .option-dropdown{
        font-size: 14;
    }

    .products{
        margin-left: 0px;
        width: 100%;
    }

    .items{
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-column-gap: 15px;
    }

    .item{
        height: 300px;
        padding: 0px
    }

    .item-image{
        height: 67%;
    }

}