/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.category ::-webkit-scrollbar-thumb {
  background: #f5f5f5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #C8C8C8;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}






*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

a{
    color: black;
    text-decoration: None;
    cursor: pointer;
}

.text-link:hover{
    text-decoration: underline;
}

a:visited{
    color: black;
}

#navbar-wrapper{
    z-index: 99;
    position: fixed;
    width: calc(100% - 40px);
    background-color: white;
    transition: top 0.3s;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

#navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    max-width: 1200px;
    position: relative;
}

#link-wrapper-nav{
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.link-nav{
    color: black;
    text-decoration: None;
    font-size: 17;
    font-weight: normal;
    padding-right: 30px;
}

.link-login {
    display: flex;
    align-items: center;
}

#login-img {
    height: 17px;
    padding-right: 5px;
}


#logo-nav{
    height: 35px;
}

#help-img {
    height: 20px;
    padding-right: 20px;
}

#icon-wrapper-nav{
    width: 250px;
    text-align: right;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#icon-nav{
    height: 20px;
    width: 20px;
    padding-right: 10px;
}


#badge-icon-cart-nav{
    background-color: #DDBC9B;
    border-radius: 10px;
    color: white;
    font-size: 10;
    line-height: 15px;
    width: 15px;
    height: 15px;
    text-align: center;
    position: absolute;
    right: 9px;
    top: 2px;
}



#main{
    padding: 100px 0px 0px 0px;
    min-height: 100%;
}

#secondary-navbar-wrapper{
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    width: calc(100% - 40px);
}

#secondary-navbar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.category-links-horizontal {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    height: 20px;
    z-index: 10;
    width: 80%;
    overflow: hidden;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: baseline;
    white-space: nowrap;
}

.category-link-horizontal a{
    float: left;
    color: black;
    white-space: nowrap;
    font-family: 'Inria Serif', serif;
    margin-right: 25px;
    margin-bottom: 5px;
}

.category-link-horizontal a:hover{
    text-decoration: underline;
}


#search-navbar{
    background-color: white;
    border-bottom: 1px black solid;
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#query-navbar{
    all: unset;
    color: black;
    font: 16px;
    height: 100%;
    width: 100%;
}

: :placeholder {
    color: black;
    opacity: 0.7;
}

.icon {
    width: 20px;
    height: 20px;
    padding: 5px;
}




.button-dropdown{
    width: 200px;
    border: solid 1px black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16;
    border-radius: 4px;
}

.image-dropdown{
    width: 25px;
    height: 25px;
}

.content-dropdown{
    border: solid 1px black;
    border-top: solid 1px white;
    width: 198px;
    padding: 0px 0px 5px 0px;
    position: absolute;
    z-index: 3;
    background-color: white;
    top: 37px;
    display: None;
    border-radius: 0px 0px 4px 4px;
}

.option-dropdown{
    display: block;
    border-top: 1px solid lightgrey;
    padding: 7px 10px;
}

.option-dropdown:hover{
    background-color: #f5f5f5;
}


/*footer*/
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer p, footer a, footer a:visited{
    font-family: 'Inria Serif', serif;
    color: #DDBC9B;
}

#background-footer {
    background-color: #FFFCF8;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;

}

#instagram-logo {
    height: 20px;
    padding-right: 10px;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.links-footer {
    display: flex;
    justify-content: space-between;
}

.links-footer a{
    margin-left: 15px;
    margin-right: 15px;
}

#logo-footer{
    height: 30px;
    padding: 10px 0px;
}






@media screen and (max-width: 900px) {
    #secondary-navbar-wrapper{
        width: 100%;
    }

    .category-links-horizontal{
        display: None;
    }

    .search{
        width: 100%;
    }

    #search-navbar{
        width: 100%;
    }


}