.mainmain{
    display: None;
}

#main, #navbar {
    background-color: #FFF8ED !important;
}

#navbar-wrapper {
    background-color: #FFF8ED !important;
}

#secondary-navbar {
    display: none;
}

#cart-preview {
    background-color: #FFF8ED !important;
}

#background-footer {
    background-color: white !important;
}



[data-custom-class='body'] {
    padding: 25px 25px 75px 25px !important;
}

.wrapper {
    background-color: #FFF8ED;
    width: 100%;
}

.container {
    background-color: #FFF8ED;
}

[data-custom-class="link"] {
    color: black;
}




@media screen and (max-width: 900px) {

    .container {
        min-height: 75px;
    }

    #logo-footer {
        height: 40px;
        padding-top: 0px;
        margin-bottom: 30px;
    }

    [data-custom-class='wrapper'] {
        padding: 15px 25px 25px 25px !important;
    }
}





