{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/dashboard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shop/base_dashboard_style.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Title</title>

    <script src="{% static 'shop/base_animations.js' %}"></script>

    <script>
        var dashboard = JSON.parse(getCookie('dashboard'))

        if (dashboard == undefined){
            dashboard = {}
            dashboard['settings'] = 'info'
            console.log('Dashboard Cookie created!', dashboard)
            document.cookie = 'dashboard=' + JSON.stringify(dashboard) + ";domain=;path=/"
        }

        console.log(dashboard)
    </script>

</head>

<body>

<nav class="navbar-left">
    <a href="/"><img id="logo-nav" src="/media/logos/logo.png"></a>


    <ul class="dashboard-links">
        <li class="dashboard-link nav-home" id="navigation-dashboard-link-home"><a href="/dashboard/home/{{seller}}"><img class="icon-navbar" src="/media/icons/home-dashboard-white.png" alt="">Dashboard</a></li>
        <li class="dashboard-link nav-listings" id="navigation-dashboard-link-listings"><a href="/dashboard/listings/{{seller}}"><img class="icon-navbar" src="/media/icons/listings-dashboard-white.png" alt="">Listings</a></li>
        <li class="dashboard-link nav-deliveries" id="navigation-dashboard-link-deliveries"><a href="/dashboard/deliveries/last/{{seller}}"><img class="icon-navbar" src="/media/icons/deliveries-dashboard-white.png" alt="">Orders</a></li>
        <li class="dashboard-link nav-settings" id="navigation-dashboard-link-settings"><a href="/dashboard/settings/{{seller}}"><img class="icon-navbar" src="/media/icons/settings-dashboard-white.png" alt="">Settings</a></li>
    </ul>

</nav>

<nav class="navbar-mobile">
    <a class="logo-nav-mobile" href="/"><img id="logo-nav-mobile" src="/media/logos/logo.png"></a>

    <ul class="dashboard-links">
        <li class="dashboard-link nav-home" id="navigation-dashboard-link-dashboard-mobile"><a href="/dashboard/home/{{seller}}"><img class="icon-navbar" src="/media/icons/home-dashboard-white.png" alt="">Home</a></li>
        <li class="dashboard-link nav-listings" id="navigation-dashboard-link-listings-mobile"><a href="/dashboard/listings/{{seller}}"><img class="icon-navbar" src="/media/icons/listings-dashboard-white.png" alt="">Listings</a></li>
        <li class="dashboard-link nav-deliveries" id="navigation-dashboard-link-deliveries-mobile"><a href="/dashboard/deliveries/last/{{seller}}"><img class="icon-navbar" src="/media/icons/deliveries-dashboard-white.png" alt="">Orders</a></li>
        <li class="dashboard-link nav-settings" id="navigation-dashboard-link-settings-mobile"><a href="/dashboard/settings/{{seller}}"><img class="icon-navbar" src="/media/icons/settings-dashboard-white.png" alt="">Settings</a></li>
    </ul>
</nav>


<div id="main">

{% block content %}

{% endblock %}
</div>



</body>


<script>
    var path = "{{request.path}}"
    var current_page = path.split("/")[2]
    str = 'navigation-dashboard-link-' + current_page
    document.getElementById(str).classList.add('active-page')
</script>


</html>