{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/become_seller_style.css' %}">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Title</title>


<nav>
    <a href="/"><img id="logo-nav" src="/media/logos/logo.png"></a>
</nav>


<div class="main">
    <p class="titles">What we offer</p>

    <div class="background">
        <div class="what-we-offer">

            <div class="content website">
                <img class="icon website-icon" src="/media/icons/custom-made-website.png">
                <h2>Custom made website</h2>
                <p>We’ll build your own, independent website to offer you a unique selling experience. Additionaly, your items will be displayed on encomi.co.</p>
            </div>

            <div class="content effort">
                <img class="icon effort-icon" src="/media/icons/no-extra-effort.png">
                <h2>No extra effort for you</h2>
                <p>All your listings from any other platform will automatically be transfered to encomi. To gain the best insights into your sales, we offer you a simple seller dashboard.</p>
            </div>

            <div class="content commission-fee">
                <img class="icon commission-fee-icon" src="/media/icons/low-commission-fee.png">
                <h2>Low commission fee</h2>
                <p>You won’t have to pay anything for your custom made website. Instead, we charge a commission fee of only 3.9%, lower than Etsy or Amazon.</p>
            </div>
        </div>
    </div>
</div>