{% extends "shop/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/cart_style.css' %}"
      xmlns:width="http://www.w3.org/1999/xhtml">

<div id="cart-wrapper">
    <div id="cart">
        <ul class="left">
            <p class="your-bag-heading">Your bag</p>
            <div id="items-in-cart-list">
                {% if not cartItems %}
                <p class="item-in-cart-list" style="padding-left: 10px;">Your cart is empty</p>
                {% endif %}
                {% for cartItem in cartItems %}
                <li class="item-in-cart-list" id="item-in-cart-list-{{cartItem.cart_id}}">
                    <img class="cartItem-image" src="{{cartItem.object.image_set.first.image.url}}" width= 100px alt="">
                    <div class="cartItem-properties">
                        <a class="cartItem-link" href="/item/{{seller}}/{{cartItem.object.id}}">{{cartItem.object.title|truncatechars:40}}</a>
                        <p class="cartItem-description">{% for style_group, style in cartItem.style_groups.items %}{%if forloop.counter0 != 0%}, {%endif%}{{style}}{% endfor %}</p>
                        <p class="cartItem-price">{{cartItem.price|floatformat:2}}€</p>
                        <div class="cartItem-quantity">
                            <select class="quantity-select" id="content-select-quantity-{{cartItem.cart_id}}" onchange="updateQuantity({{cartItem.cart_id}})">
                                <option class="option-select" id="option-dropdown-quantity-1" onclick="updateQuantity({{cartItem.cart_id}}, '1')" {%if cartItem.quantity == 1%}selected="selected"{%endif%}>1</option>
                                <option class="option-select" id="option-dropdown-quantity-2" onclick="updateQuantity({{cartItem.cart_id}}, '2')" {%if cartItem.quantity == 2%}selected="selected"{%endif%}>2</option>
                                <option class="option-select" id="option-dropdown-quantity-3" onclick="updateQuantity({{cartItem.cart_id}}, '3')" {%if cartItem.quantity == 3%}selected="selected"{%endif%}>3</option>
                                <option class="option-select" id="option-dropdown-quantity-4" onclick="updateQuantity({{cartItem.cart_id}}, '4')" {%if cartItem.quantity == 4%}selected="selected"{%endif%}>4</option>
                                <option class="option-select" id="option-dropdown-quantity-5" onclick="updateQuantity({{cartItem.cart_id}}, '5')" {%if cartItem.quantity == 5%}selected="selected"{%endif%}>5</option>
                                <option class="option-select" id="option-dropdown-quantity-6" onclick="updateQuantity({{cartItem.cart_id}}, '6')" {%if cartItem.quantity == 6%}selected="selected"{%endif%}>6</option>
                                <option class="option-select" id="option-dropdown-quantity-7" onclick="updateQuantity({{cartItem.cart_id}}, '7')" {%if cartItem.quantity == 7%}selected="selected"{%endif%}>7</option>
                                <option class="option-select" id="option-dropdown-quantity-8" onclick="updateQuantity({{cartItem.cart_id}}, '8')" {%if cartItem.quantity == 8%}selected="selected"{%endif%}>8</option>
                                <option class="option-select" id="option-dropdown-quantity-9" onclick="updateQuantity({{cartItem.cart_id}}, '9')" {%if cartItem.quantity == 9%}selected="selected"{%endif%}>9</option>
                                <option class="option-select" id="option-dropdown-quantity-10" onclick="updateQuantity({{cartItem.cart_id}}, '10')" {%if cartItem.quantity == 9%}selected="selected"{%endif%}>10</option>
                            </select>
                        </div>
                        <!--<p class="cartItem-quantity">Quantity: {{cartItem.quantity}}</p>-->

                        <button class="removeButton" onclick="removeCookieItem({{cartItem.cart_id}})">
                            <img class="removeIcon" src="/media/icons/trashcan.png" alt="">
                            Remove
                        </button>
                    </div>
                </li>
                {% endfor %}
            </div>
            <div id="delivery-wrapper">
                <p class="delivery-description">Estimated delivery:</p>
                <p class="delivery-value">{{deliveryDate}}</p>
            </div>
            <div id="message-wrapper">
                <textarea id="message" rows="4" placeholder="Add a message">{{message}}</textarea>
            </div>
        </ul>

        <div class="right" id="cart-total">
            {% include "shop/cart_total.html" %}
        </div>
    </div>
</div>







<script>
    function updateQuantity(cartItemId){
        str = 'content-select-quantity-' + cartItemId
        let quantity = Number(document.getElementById(str).value)
        cart[cartItemId]['quantity'] = quantity
        console.log('CART:', cart)
        document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
        updateCartTotal()
    }

    function removeCookieItem(cartItemId){
        delete cart[cartItemId]
        console.log('CART:', cart)
        document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

        id_str = 'item-in-cart-list-' + cartItemId
        document.getElementById(id_str).style.display = 'None'

        getCartCount()

        updateCartTotal()
    }

    function updateCartTotal() {
        let request = new XMLHttpRequest();
        let method = 'GET';

        let url = '/cart_total/{{seller}}';
        request.open(method, url);
        request.onload = function () {
            // the response is the rendered HTML
            // which django sends as return render(response, "your_template.html", context)
            let myHTML = request.response;
            // This is the important part
            // Set that HTML to the new, templated HTML returned by the server
        document.getElementById('cart-total').innerHTML = myHTML;
        };
        request.send();
    }

    function proceedCheckout(){
        message = document.getElementById('message').value
        console.log(message)
        document.cookie = 'cartMessage=' + (message || "") + ";domain=;path=/"
        window.location.href = '/checkout/{{seller}}'
    }

    document.getElementById('message').value = getCookie('cartMessage')

</script>


{% endblock %}