{% extends "shop/base_checkout.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/checkout_style.css' %}">

<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=ATZy7_w2X0Ec7vhNGRMVvMdFsC5lljVyJ53HKH4Yfi4VdHjdHvUN7ge5q4ZzCaZTgakPs6WcdPfC482w&currency=EUR"></script>

<div id="checkout">
    <div class="left">
        <p class="order-summary-heading">Order summary</p>

        <ul class="left-content">
            <div id="items-in-cart-list">
                {% for cartItem in cartItems %}
                <li class="item-in-cart-list" id="item-in-cart-list-{{cartItem.cart_id}}">

                    <img class="cartItem-image" src="{{cartItem.object.image_set.first.image.url}}" width= 100px alt="">
                    <div class="cartItem-properties">
                        <a class="cartItem-link" href="/item/{{cartItem.object.id}}">{{cartItem.object.title|truncatechars:40}}</a>
                        <p class="cartItem-description">{% for style_group, style in cartItem.style_groups.items %}{{style}}{% endfor %}</p>
                        <p class="cartItem-price">{{cartItem.price|floatformat:2}}€</p>
                        <p class="cartItem-quantity">Quantity: {{cartItem.quantity}}</p>
                    </div>
                </li>
                {% endfor %}
            </div>
            <div id="delivery">
                <p class="delivery-description">Estimated delivery:</p>
                <p class="delivery-value">{{deliveryDate}}</p>
            </div>
            <li class="subtotal">
                <p class="subtotal-text">Subtotal</p>
                <p class="subtotal-number">{{cartSubTotal|floatformat:2}}€</p>
            </li>

            <li class="delivery-fee">
                <p class="delivery-fee-text">Delivery</p>
                <p class="delivery-fee-number">{{shipping|floatformat:2}}€</p>
            </li>
            <li class="total-price">
                <p class="total-price-text">Total</p>
                <p class="total-price-number">{{cartTotal|floatformat:2}}€</p>
            </li>
        </ul>
    </div>

    <div class="right">
        <p class="shipping-information-heading">Shipping Information</p>

        <div class=" shipping-information">
            <div class="input-group">
                <input type="text" class="input shipping-input" id="firstname" name="firstname" placeholder=" ">
                <label for="firstname">First Name</label>
            </div>
            <div class="input-group">
                <input type="text" class="input shipping-input shipping-input-right" id="lastname" name="lastname" placeholder=" ">
                <label for="lastname">Last Name</label>
            </div>
            <div class="input-group">
                <input type="text" class="input shipping-input" id="streetname" name="streetname" placeholder=" ">
                <label for="streetname">Street Name</label>
            </div>
            <div class="input-group">
                <input type="text" class="input shipping-input shipping-input-right" id="number" name="number" placeholder=" ">
                <label for="number">Number</label>
            </div>
            <div class="input-group">
                <input type="text" class="input shipping-input" id="postalcode" name="postalcode" placeholder=" ">
                <label for="postalcode">Postal Code</label>
            </div>
            <div class="input-group">
                <input type="text" class="input shipping-input shipping-input-right" id="city" name="city" placeholder=" ">
                <label for="city">City</label>
            </div>
        </div>

        <p class="payment-options-heading">Payment Options</p>

        <div id="paypal-button-container"></div>

        <button onclick="testPayment()">Test Payment</button>

    </div>

</div>


<script>
  paypal.Buttons({
    // Sets up the transaction when a payment button is clicked
    createOrder: (data, actions) => {
      return actions.order.create({
        purchase_units: [
            {
                amount: {
                    value: '{{cartTotal|floatformat:2}}',
                    currency_code: 'EUR',
                    breakdown: {
                        item_total: {
                            value: '{{cartSubTotal|floatformat:2}}',
                            currency_code: 'EUR'
                        },
                        shipping: {
                            value: '{{shipping|floatformat:2}}',
                            currency_code: 'EUR'
                        }
                    }
                },
                items: [
                {% for cartItem in cartItems %}
                    {
                        name: `{{cartItem.object.title|truncatechars:70}}`,
                        description: '{% for style_group, style in cartItem.style_groups.items %}{{style_group}}: {{style}} {% endfor %}',
                        quantity: '{{cartItem.quantity}}',
                        unit_amount: {
                            currency_code: 'EUR',
                            value: '{{cartItem.price|floatformat:2}}',
                            },
                    },
                {% endfor %}
                ]
            }
        ]
      });
    },
    // Finalize the transaction after payer approval
    onApprove: (data, actions) => {
      return actions.order.capture().then(function(orderData) {
        $.ajax({
            type: 'POST',
            url: '/create_order/{{seller}}',
            data: {
                'order': JSON.stringify({{order|safe}}),
                'order_information': JSON.stringify({
                    first_name: document.getElementById('firstname').value,
                    last_name: document.getElementById('lastname').value,
                    street_name: document.getElementById('streetname').value,
                    house_number: document.getElementById('number').value,
                    postal_code: document.getElementById('postalcode').value,
                    city: document.getElementById('city').value,
                }),
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            success: async function() {let delayres = await delay(50); window.location.href = '/thankyou/{{seller}}'}
        })
      });
    }
  }).render('#paypal-button-container');


  function testPayment(){
    // check if all Shipping Information Fields are filled out
    checkNumber = 0
    const idList = ['firstname', 'lastname', 'streetname', 'number', 'postalcode', 'city']
    for(let i=0; i< idList.length; i++){
        if (document.getElementById(idList[i]).value){
            checkNumber += 1;
        }
    }
    if(checkNumber!=idList.length){return}
    fetch("/create_order/{{seller}}",{
        method:"POST",
        headers:{
            "Content-type": 'application/json',
            "X-CSRFToken": csrftoken,
        },
        body: JSON.stringify({
            order: {{order|safe}},
            order_information: {
                first_name: document.getElementById('firstname').value,
                last_name: document.getElementById('lastname').value,
                street_name: document.getElementById('streetname').value,
                house_number: document.getElementById('number').value,
                postal_code: document.getElementById('postalcode').value,
                city: document.getElementById('city').value,
            }
        })
        }
    )
    window.location.href= '/thankyou/{{seller}}'
  }

</script>


{% endblock %}