{% extends "shop/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/checkout_style.css' %}">



<div class="main">
    <div class="left">
        <p class="order-summary-heading">Order summary</p>
        {% for cartItem in cartItems %}

        <ul class="left-content">
            <li class="items-in-cart-list" id="item-in-cart-list-{{cartItem.cart_id}}">

                <img class="cartItem-image" src="{{cartItem.object.image_set.first.image.url}}" width= 100px alt="">
                <div class="cartItem-properties">
                    <a class="cartItem-link" href="/item/{{cartItem.object.id}}">{{cartItem.object.title|truncatechars:40}}</a>
                    <p class="cartItem-description">{% for style_group, style in cartItem.style_groups.items %}{{style}}{% endfor %}</p>
                    <p class="cartItem-price">{{cartItem.price|floatformat:2}}€</p>
                    <p class="cartItem-quantity">Quantity: {{cartItem.quantity}}</p>
                </div>
            </li>
            {% endfor %}
            <li class="subtotal">
                <p class="subtotal-text">Subtotal</p>
                <p class="subtotal-number">{{cartTotal}}€</p>
            </li>

            <li class="delivery-fee">
                <p class="delivery-fee-text">Delivery</p>
                <p class="delivery-fee-number">4.80€</p>
            </li>
            <li class="total-price">
                <p class="total-price-text">Total</p>
                <p class="total-price-number">{{cartTotal}}€</p>
            </li>
        </ul>
    </div>

    <div class="right">
        <p class="shipping-information-heading">Shipping Information</p>

        <div class=" shipping-information">
            <input type="text" id="firstname" name="firstname" placeholder="First Name">
            <input type="text" id="lastname" name="lastname" placeholder="Last Name">
            <input type="text" id="streetname" name="streetname" placeholder="Street Name">
            <input type="text" id="number" name="number" placeholder="Number">
            <input type="text" id="postalcode" name="postalcode" placeholder="Postal Code">
            <input type="text" id="city" name="city" placeholder="City">
        </div>

        <p class="payment-options-heading">Payment Options</p>

    </div>

</div>



{% endblock %}