{% extends "shop/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/checkout_style.css' %}">

<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=ASktPD2Ra2TZB5j4maoVbH5VmkrN_HL5qQdZjP5wknMtVr8OywDDfp5bSxA4oehSdSPaMLKoZWAZ3y4t&currency=EUR"></script>

<div class="main">
    <div class="left">
        <p class="order-summary-heading">Order summary</p>
        {% for cartItem in cartItems %}

        <ul class="left-content">
            <li class="items-in-cart-list" id="item-in-cart-list-{{cartItem.cart_id}}">

                <img class="cartItem-image" src="{{cartItem.object.image_set.first.image.url}}" width= 100px alt="">
                <div class="cartItem-properties">
                    <a class="cartItem-link" href="/item/{{cartItem.object.id}}">{{cartItem.object.title|truncatechars:40}}</a>
                    <p class="cartItem-description">{% for style_group, style in cartItem.style_groups.items %}{{style}}{% endfor %}</p>
                    <p class="cartItem-price">{{cartItem.price|floatformat:2}}€</p>
                    <p class="cartItem-quantity">Quantity: {{cartItem.quantity}}</p>
                </div>
            </li>
            {% endfor %}
            <li class="subtotal">
                <p class="subtotal-text">Subtotal</p>
                <p class="subtotal-number">{{cartTotal}}€</p>
            </li>

            <li class="delivery-fee">
                <p class="delivery-fee-text">Delivery</p>
                <p class="delivery-fee-number">4.80€</p>
            </li>
            <li class="total-price">
                <p class="total-price-text">Total</p>
                <p class="total-price-number">{{cartTotal}}€</p>
            </li>
        </ul>
    </div>

    <div class="right">
        <p class="shipping-information-heading">Shipping Information</p>

        <div class=" shipping-information">
            <input type="text" id="firstname" name="firstname" placeholder="First Name">
            <input type="text" id="lastname" name="lastname" placeholder="Last Name">
            <input type="text" id="streetname" name="streetname" placeholder="Street Name">
            <input type="text" id="number" name="number" placeholder="Number">
            <input type="text" id="postalcode" name="postalcode" placeholder="Postal Code">
            <input type="text" id="city" name="city" placeholder="City">
        </div>

        <p class="payment-options-heading">Payment Options</p>

        <div id="paypal-button-container"></div>

    </div>

</div>


<script>
  paypal.Buttons({
    // Sets up the transaction when a payment button is clicked
    createOrder: (data, actions) => {
      return actions.order.create({
        purchase_units: [
            {
                amount: {
                    value: '{{cartTotal}}',
                    currency_code: 'EUR',
                    breakdown: {
                        item_total: {
                            value: '{{cartTotal}}',
                            currency_code: 'EUR'
                        }
                    }
                },
                items: [
                {% for cartItem in cartItems %}
                    {
                        name: `{{cartItem.object.title|truncatechars:70}}`,
                        description: '{% for style_group, style in cartItem.style_groups.items %}{{style_group}}: {{style}} {% endfor %}',
                        quantity: '{{cartItem.quantity}}',
                        unit_amount: {
                            currency_code: 'EUR',
                            value: '{{cartItem.price|floatformat:2}}',
                            },
                    },
                {% endfor %}
                ]
            }
        ]
      });
    },
    // Finalize the transaction after payer approval
    onApprove: (data, actions) => {
      return actions.order.capture().then(function(orderData) {
        // Successful capture! For dev/demo purposes:
        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
        const transaction = orderData.purchase_units[0].payments.captures[0];
        alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
        // When ready to go live, remove the alert and show a success message within this page. For example:
        // const element = document.getElementById('paypal-button-container');
        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
        // Or go to another URL:  actions.redirect('thank_you.html');
      });
    }
  }).render('#paypal-button-container');
</script>


{% endblock %}