<div class="cropped-image-wrapper">
    <div class="image-workspace">
        <img src="" alt="">
        <span>Image Work Space</span>
    </div>
</div>


<div class="action-button">
    <button class="upload choose-image-button"><img class="save-img" src="/media/icons/sync-data.png">Choose Image</button>
    <input type="file" class="hidden-upload" style="display: none;" accept="image/*">
    <button class="download save-image-button"><img class="save-img" src="/media/icons/sync-data.png">Save</button>
</div>