{% extends "shop/base_dashboard.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/dashboard_style.css' %}">

<nav class="header">
    <a href="/"><img id="logo-nav" src="/media/logos/logo.png"></a>


    <ul class="dashboard-links">
        <li class="dashboard home"  id="navigation-dashboard-link-dashboard"><a href="/dashboard/home"><img class="icon" src="/media/icons/home.png" alt="">Dashboard</a></li>
        <li class="dashboard listings" id="navigation-dashboard-link-listings"><a href="/dashboard/listings"><img class="icon" src="/media/icons/diamond.png" alt="">Listings</a></li>
        <li class="dashboard categories" id="navigation-dashboard-link-categories"><a href="/dashboard/categories"><img class="icon" src="/media/icons/categories.png" alt="">Categories</a></li>
        <li class="dashboard deliveries active-page" id="navigation-dashboard-link-deliveries"><a href="/dashboard/deliveries"><img class="icon" src="/media/icons/delivery.png" alt="">Deliveries</a></li>
        <li class="dashboard settings" id="navigation-dashboard-link-settings"><a href="/dashboard/settings"><img class="icon" src="/media/icons/settings.png" alt="">Settings</a></li>
    </ul>

</nav>




{% endblock %}