{% extends "shop/base_dashboard.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/home_dashboard_style.css' %}">

<!--
<nav class="navbar-left">
    <a href="/"><img id="logo-nav" src="/media/logos/logo.png"></a>


    <ul class="dashboard-links">
        <li class="dashboard-link nav-home active-page" id="navigation-dashboard-link-dashboard"><a href="/dashboard/home/{{seller}}"><img class="icon-navbar" src="/media/icons/home-dashboard-white.png" alt="">Dashboard</a></li>
        <li class="dashboard-link nav-listings" id="navigation-dashboard-link-listings"><a href="/dashboard/listings/{{seller}}"><img class="icon-navbar" src="/media/icons/listings-dashboard-white.png" alt="">Listings</a></li>
        <li class="dashboard-link nav-deliveries" id="navigation-dashboard-link-deliveries"><a href="/dashboard/deliveries/last/{{seller}}"><img class="icon-navbar" src="/media/icons/deliveries-dashboard-white.png" alt="">Orders</a></li>
        <li class="dashboard-link nav-settings" id="navigation-dashboard-link-settings"><a href="/dashboard/settings/{{seller}}"><img class="icon-navbar" src="/media/icons/settings-dashboard-white.png" alt="">Settings</a></li>
    </ul>

</nav>

<nav class="navbar-mobile">
    <a href="/"><img id="logo-nav" src="/media/logos/logo.png"></a>

    <ul class="dashboard-links">
        <li class="dashboard-link nav-home active-page" id="navigation-dashboard-link-dashboard"><a href="/dashboard/home/{{seller}}"><img class="icon-navbar" src="/media/icons/home-dashboard-white.png" alt="">Home</a></li>
        <li class="dashboard-link nav-listings" id="navigation-dashboard-link-listings"><a href="/dashboard/listings/{{seller}}"><img class="icon-navbar" src="/media/icons/listings-dashboard-white.png" alt="">Listings</a></li>
        <li class="dashboard-link nav-deliveries" id="navigation-dashboard-link-deliveries"><a href="/dashboard/deliveries/last/{{seller}}"><img class="icon-navbar" src="/media/icons/deliveries-dashboard-white.png" alt="">Orders</a></li>
        <li class="dashboard-link nav-settings" id="navigation-dashboard-link-settings"><a href="/dashboard/settings/{{seller}}"><img class="icon-navbar" src="/media/icons/settings-dashboard-white.png" alt="">Settings</a></li>
    </ul>

</nav>
-->

<nav id="header">
    <p id="header-title">
        <img class="icon-header" src="/media/icons/home-dashboard.png" alt="">
        Dashboard
    </p>
</nav>

<div class="mainmain">

    <div class="container">
        <div class="element element1" id="element-sales">
            <p class="element-title">
                <img class="icon-dashboard" src="/media/icons/orders-dashboard.png" alt="">
                Sales
            </p>
            <div id="sales-chart-wrapper">
                <canvas id="sales-chart"></canvas>
            </div>
        </div>
        <div class="element element2">
            <p class="element-title">
                <img class="icon-dashboard" src="/media/icons/revenue-dashboard.png" alt="">
                Revenue
            </p>
            <div class="statistic-wrapper" id="revenue-wrapper">
                <p class="statistic-number">{{revenue|floatformat:2}}€</p>
                <p class="statistic-change"><img class="icon-arrow-up" src="/media/icons/arrow_green.svg" alt=""><span>{{revenue_change|floatformat:2}}%</span> more than last month</p>
            </div>
            <a class="showMore-link" href="/dashboard/deliveries/last/{{seller}}">
                <div class="showMore-wrapper">
                    <p class="showMore-text">Show more</p>
                    <img class="icon-arrow-right" src="/media/icons/arrow-right-black.png" alt="">
                </div>
            </a>
        </div>
        <div class="element element3">
            <p class="element-title">
                <img class="icon-dashboard" src="/media/icons/pagevisits-dashboard.png" alt="">
                Page Visits
            </p>
            <div class="statistic-wrapper" id="pageVisits-wrapper">
                <p class="statistic-number">0 <span style="font-size: 20;">(coming soon)</span></p>
                <p class="statistic-change"><img class="icon-arrow-up" src="/media/icons/arrow_green.svg" alt=""><span>0%</span> more than last month</p>
            </div>
            <a class="showMore-link" href="/dashboard/deliveries/last/{{seller}}">
                <div class="showMore-wrapper">
                    <p class="showMore-text">Show more</p>
                    <img class="icon-arrow-right" src="/media/icons/arrow-right-black.png" alt="">
                </div>
            </a>
        </div>
        <div class="element element4">
            <div class="element4-header">
                <p class="element-title">
                    <img class="icon-dashboard" src="/media/icons/listings-dashboard.png" alt="">
                    Listings
                </p>
                <a class="showMore-link" href="/dashboard/listings/{{seller}}">
                    <div class="showMore-wrapper-element4">
                        <p class="showMore-text">Show all</p>
                        <img class="icon-arrow-right" src="/media/icons/arrow-right-black.png" alt="">
                    </div>
                </a>
            </div>

            <div class="items" id="items">
                {% for item in items %}
                    <div class="item" onclick="window.location.href='/item/{{seller}}/{{item.id}}'">

                        <img class="item-image item-first-image" id="item-first-image-{{item.id}}" src="{{item.image_set.first.image.url}}" onmouseenter="showSecondImage({{item.id}})" onmouseleave="showFirstImage({{item.id}})" width="250px" alt="">
                        <img class="item-image item-second-image" id="item-second-image-{{item.id}}" src="{{item.image_set.last.image.url}}" onmouseenter="showSecondImage({{item.id}})" onmouseleave="showFirstImage({{item.id}})" width="250px" alt="">

                        <p class="item-title">{{ item.title|truncatechars:15 }}</p>
                        <p class="item-price"> {{ item.price|floatformat:2 }}€<p/>
                        <p class="items-sold"><img class="items-sold-img" src="/media/icons/items-sold.png">{{item.sold_counter}} sold</p>

                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="element element5">
            <div class="element5-header">
                <p class="element-title">
                    <img class="icon-dashboard" src="/media/icons/deliveries-dashboard.png" alt="">
                    Orders
                </p>
                <a class="showMore-link" href="/dashboard/deliveries/last/{{seller}}">
                    <div class="showMore-wrapper-element5">
                        <p class="showMore-text">Show all</p>
                        <img class="icon-arrow-right" src="/media/icons/arrow-right-black.png" alt="">
                    </div>
                </a>
            </div>
            <div id="deliveries">

                <div class="header-orderlist">
                     <img class="box"
                            src="/media/icons/box-to-tick.png" alt="">
                    <p class="header-orderId">Order ID</p>
                    <p class="header-orderDate">Date</p>
                    <p class="header-orderStatus">Status</p>
                </div>

                <div class="orderlist">
                    {% for order in orders %}
                    <a href="/dashboard/deliveries/{{order.id}}/{{seller}}">
                        <div class="orderlist-object" id="orderlist-object-{{order.id}}" style="{%if order.id == selected_order.id%}background-color: #f8f8f8{%endif%}">
                            <img class="box"
                                src="/media/icons/box-to-tick.png" alt="">
                                <p class="orderId">{{order.id}}</p>
                                <p class="orderDate">{{order.parent_order.datetime|date:"d.m.y"}}</p>
                                <div class="orderStatus orderStatus-{{order.status|cut:' '}}">
                                    <img class="orderStatus-icon" src="/media/icons/shipping-black.png" alt="">
                                    <p class="orderStatus-text">{{order.status}}</p>
                                </div>
                        </div>
                    </a>
                    {% endfor %}
            </div>
            </div>
        </div>
    </div>
</div>

<script>
  const labels = {{weekday_list|safe}};

  const data = {
    labels: labels,
    datasets: [{
      label: 'Sales',
      backgroundColor: '#C6D9D2',
      borderColor: '#C6D9D2',
      data: {{sales_list}},
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
        maintainAspectRatio: false,
        plugins: {
            legend: {
              display: false
            }
        },
        scale: {
            ticks: {
                precision: 0
            }
        }
    }
  };

   const salesChart = new Chart(
        document.getElementById('sales-chart'),
        config
    );

</script>

{% endblock %}