{% extends "shop/base.html" %}

{% block content %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/home_style.css' %}">

<div class="background">
    <div class="section section1">
        <p class="text-big"> unique pieces <span class="text-big-white">of</span> <span class="text-big-line">jewelry, hand<span class="text-big-white">made</span></span> </p>
        <a class="link-shop" href="/shop">Shop all items<img class="arrow-right" src="/media/icons/arrow-right.png"></a>
        <img id="image-home-1" src="/media/home/home1.png">
    </div>
</div>

<div class="background-second">
    <div class="section section2">
        <img id="image-home-2" src="/media/home/home2.png">
        <div class="section2-content">
            <p class="text-small">“Our jewelry is designed to inspire you as a woman, to feel sophisticated and comfortable at the same time”</p>
            <a class="link-become-seller" href="/become_seller">Become a seller<img class="arrow-right-black" src="/media/icons/arrow-right-black.png"></a>
        </div>
    </div>
</div>


<div class="shops-pushed-wrapper">
    <div class="shops-pushed">
        {% for pushed_seller in pushed_sellers %}
        <div class="shop">
            <img class="logo-shop" src="{{pushed_seller.logo.url}}">
            <a class="link-shop" href="/home/{{pushed_seller.name}}">
                Shop at {{pushed_seller.name}}
                <img class="arrow-right-black" src="/media/icons/arrow-right-black.png">
            </a>
        </div>
        {% endfor %}
    </div>
</div>






{% endblock %}