{% extends "shop/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/item_style.css' %}">

<div id="item">
    <div class="nav-images" >
        {% for image in item.image_set.all %}
        <img class="nav-image" src="{{image.image.url}}" width="70px" alt="">
        {% endfor %}
    </div>

    <img id="item-image" src="{{item.image_set.first.image.url}}" height="515px" alt="">

    <div class="description">
        <div class="description-values">
            <p class="item-title">{{ item.title }}</p>
            <p class="item-price">{{ item.price|floatformat:2 }}€<p/>
            <p class="item-price-old"><s>from {{ item.old_price|floatformat:2 }}€</s></p>
        </div>

        {% for style_group in item.stylegroup_set.all %}
        <div class="dropdown-wrapper" onmouseleave="closeDropdown('{{style_group}}')">
            <div class="dropdown" id="dropdown-{{style_group}}" onmouseenter="showDropdown('{{style_group}}')">
                <button class="button-dropdown" onclick="showDropdown()">
                    <span class="text-button-dropdown" id="text-button-dropdown-{{style_group.type}}">Select {{style_group}}</span>
                    <i class="icon-dropdown">
                        <img class="image-dropdown"
                        src="/media/icons/arrow-down.png" alt="">
                    </i>
                </button>
            </div>
            <div class="content-dropdown" id="content-dropdown-{{style_group.type}}">
                {% for style in style_group.style_set.all %}
                    <a class="option-dropdown" id="option-dropdown-{{style_group.type}}-{{style}}" onclick="updateDropdown('{{style_group.type}}', '{{style}}')">{{style}}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <button id="button" onclick="addCookieItem()">Add to Cart</button>
        <p id="customization-error">Please select all customization options</p>
    </div>
</div>








<script>
    async function addCookieItem(){
        console.log('Adding cookies')

        var itemId = {{item.id}}
        var cartIndex =  Object.keys(cart).length + 1
        console.log(cartIndex)

        // Create Dict for new item
        itemDict = {
            itemId: itemId,
            style_groups: {},
        }
        itemDict['style_groups'] = {}

        {% for style_group in item.stylegroup_set.all %}
        let str = 'text-button-dropdown-{{style_group}}'
        let style = document.getElementById(str).innerHTML;
        if (style.includes('Select')){
            document.getElementById('customization-error').style.display = 'block'
            return None
        }
        itemDict['style_groups']['{{style_group.type}}'] = style
        {% endfor %}

        console.log(itemDict)

        // Check if item already exists in cart and either increase quantity of that item or set quantity = 1
        for(let k in cart){
            console.log('checking item')
            if(cart[k]['itemId'] == itemId){
                currentItemDict = cart[k]
                currentItemQuantity = cart[k]['quantity']
                itemDict['quantity'] = currentItemQuantity
                if(JSON.stringify(currentItemDict) === JSON.stringify(itemDict)){
                    console.log('fit found')
                    cartIndex = k
                    /*delete cart[k]*/
                    itemDict['quantity'] = currentItemQuantity + 1
                }
            }
        }

        if(!itemDict.hasOwnProperty('quantity')){
            itemDict['quantity'] = 1
        }

        cart[cartIndex] = itemDict

        console.log('CART:', cart)
        document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

        getCartCount()

        openCartPreview()
        let delayres = await delay(2000)
        closeCartPreview()

    }


    function showDropdown(style_group){
        let str = 'content-dropdown-' + style_group
        console.log(str)
        document.getElementById(str).style.display = 'block';
    }

    function closeDropdown(style_group){
        let str = 'content-dropdown-' + style_group
        console.log(str)
        document.getElementById(str).style.display = 'None';
    }

    function updateDropdown(style_group, style){
        let str = 'text-button-dropdown-' + style_group
        document.getElementById(str).innerHTML = style;
        closeDropdown(style_group)
        document.getElementById('customization-error').style.display = 'None'

    }

</script>


{% endblock %}