{% extends "shop/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/item_style.css' %}">

<div class= "navigation" >
    <ul class="navigation-links">
        <li class="navigation-link"><a href="">All</a></li>
        <li class="navigation-link"><a href="">On Sale</a></li>
        <li class="navigation-link"><a href="">Necklaces</a></li>
        <li class="navigation-link"><a href="">Crystal Necklaces</a></li>
        <li class="navigation-link"><a href="">Bracelets</a></li>
        <li class="navigation-link"><a href="">Layered Necklace SET</a></li>
        <li class="navigation-link"><a href="">Rings</a></li>
        <li class="navigation-link"><a href="">Earrings & Ear Climbers</a></li>
        <li class="navigation-link"><a href="">Pearls Jewellery</a></li>
        <li class="navigation-link"><a href="">Healing Necklaces</a></li>
    </ul>
</div>


<div class="main">
    <div class="nav-images" >
        {% for image in item.image_set.all %}
        <li class="small-images"> <img src="{{image.image.url}}" width="70px" alt=""> </li>
        {% endfor %}
    </div>

    <div class="image" >
        <img src="{{item.image_set.first.image.url}}" height="515px" alt="">
    </div>

    <div class="description">
        <p class="item-title">{{ item.title }}</p>
        <p class="item-price"> {{ item.price }}€<p/>
        <p class="item-price-old"><s> from 30.00€</s></p>
        <button id="button" onclick="addCookieItem()">Add to Cart</button>
    </div>
</div>








<script>
    async function addCookieItem(){
        console.log('Adding cookies')

        var itemId = {{item.id}}
        var cartIndex =  Object.keys(cart).length + 1
        console.log(cartIndex)

        // Create Dict for new item
        itemDict = {
            itemId: itemId,
            style_groups: {},
        }
        itemDict['style_groups'] = {}

        {% for style_group in item.stylegroup_set.all %}
        itemDict['style_groups']['{{style_group.type}}'] = '{{style_group.style_set.first}}'
        {% endfor %}

        console.log(itemDict)

        // Check if item already exists in cart and either increase quantity of that item or set quantity = 1
        for(let k in cart){
            console.log('checking item')
            if(cart[k]['itemId'] == itemId){
                currentItemDict = cart[k]
                currentItemQuantity = cart[k]['quantity']
                itemDict['quantity'] = currentItemQuantity
                if(JSON.stringify(currentItemDict) === JSON.stringify(itemDict)){
                    console.log('fit found')
                    cartIndex = k
                    /*delete cart[k]*/
                    itemDict['quantity'] = currentItemQuantity + 1
                }
            }
        }

        if(!itemDict.hasOwnProperty('quantity')){
            itemDict['quantity'] = 1
        }

        cart[cartIndex] = itemDict

        console.log('CART:', cart)
        document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

        getCartCount()

        openCartPreview()
        let delayres = await delay(2000)
        closeCartPreview()

    }

</script>


{% endblock %}