{% extends "shop/base_dashboard.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/listings_dashboard_style.css' %}">


<!--
<nav class="navbar-left">
    <a href="/"><img id="logo-nav" src="/media/logos/logo.png"></a>
    <ul class="dashboard-links">
        <li class="dashboard-link nav-home" id="navigation-dashboard-link-dashboard"><a href="/dashboard/home/{{seller}}"><img class="icon-navbar" src="/media/icons/home-dashboard-white.png" alt="">Dashboard</a></li>
        <li class="dashboard-link nav-listings active-page" id="navigation-dashboard-link-listings"><a href="/dashboard/listings/{{seller}}"><img class="icon-navbar" src="/media/icons/listings-dashboard-white.png" alt="">Listings</a></li>
        <li class="dashboard-link nav-deliveries" id="navigation-dashboard-link-deliveries"><a href="/dashboard/deliveries/last/{{seller}}"><img class="icon-navbar" src="/media/icons/deliveries-dashboard-white.png" alt="">Orders</a></li>
        <li class="dashboard-link nav-settings" id="navigation-dashboard-link-settings"><a href="/dashboard/settings/{{seller}}"><img class="icon-navbar" src="/media/icons/settings-dashboard-white.png" alt="">Settings</a></li>
    </ul>

</nav>
-->

<nav id="header">
    <p id="header-title"><img class="icon-header"
                src="/media/icons/listings-dashboard.png" alt="">Listings</p>
    <div class="listings-buttons-wrapper">
        <a class="create-listing-button sync-data-button" href="/dashboard/listings_new/{{seller}}"><img class="plus-img sync-data-img" src="/media/icons/plus.png">Create listing</a>
        <a class="sync-data-button" href="/scrape/{{seller}}"><img class="sync-data-img" src="/media/icons/sync-data.png">Sync data</a>
    </div>
</nav>


<div class="mainmain">
    <div class="listings-content">
        <div class="categories">
            <p>Categories</p>
            <ul class="category-links">
                <li class="category-link" id="category-link-0" onclick="updateCategory(0)"><a>All</a></li>
                {% for category in categories %}
                <li class="category-link" id="category-link-{{category.id}}" onclick="updateCategory({{category.id}})"><a>{{category.title}}</a></li>
                {% endfor %}
            </ul>

        <a class="add-category-button" ><img class="add-category-img" src="/media/icons/add-category.png">Add category</a>

        </div>

        <div class="listings">
            <form id="form" role="search" onsubmit="(e)=>{e.preventDefault(); updateKeyword()}">
                <img class="icon"
                        src="/media/icons/search_dashboard.png" alt="">
                <input type="search" id="query"
                       placeholder="Search..."
                       aria-label="Search through site content">
            </form>

            <div class="items" id="items">
                {% include "shop/listings_dashboard_items.html" %}
            </div>
        </div>
    </div>

</div>


<script>
    document.getElementById('form').addEventListener('submit', function(e) {
        e.preventDefault();
        updateKeyword()
    }, false);

    if(search['keyword'] != 'all'){
        document.getElementById('query').value = search['keyword']
    }

    category_items = document.getElementsByClassName('category-link')
    for(let i=0; i<category_items.length; i++){
        console.log(category_items[i].id.replace('category-link-'))
        if(category_items[i].id.replace('category-link-', '') == search['category']){
            category_items[i].classList.add('category-link-selected')
        }
    }


    function showSecondImage(item_id){
        item_first_image_id = 'item-first-image-' + item_id
        item_second_image_id = 'item-second-image-' + item_id
        document.getElementById(item_first_image_id).style.display = 'None';
        document.getElementById(item_second_image_id).style.display = 'block';
    }

    function showFirstImage(item_id){
        item_first_image_id = 'item-first-image-' + item_id
        item_second_image_id = 'item-second-image-' + item_id
        document.getElementById(item_first_image_id).style.display = 'block';
        document.getElementById(item_second_image_id).style.display = 'None';
    }

    function updateCategory(category_id){
        search['category'] = category_id

        category_items = document.getElementsByClassName('category-link')
        for(let i=0; i<category_items.length; i++){
            category_items[i].classList.remove('category-link-selected')
        }

        category_item_str = 'category-link-'+ category_id
        document.getElementById(category_item_str).classList.add('category-link-selected')

        document.cookie ='search=' + JSON.stringify(search) + ";domain=;path=/"
        updateListingsItems()
    }

    function updateKeyword(){
        console.log( document.getElementById('query').value)
        search['keyword'] = document.getElementById('query').value
        if (search['keyword'] == ''){
            search['keyword'] = 'all'
        }
        document.cookie ='search=' + JSON.stringify(search) + ";domain=;path=/"
        updateListingsItems()
    }

    function updateListingsItems(){
        let request = new XMLHttpRequest();
        let method = 'GET';
        let category = search['category']
        let sort = search['sort']
        let keyword = search['keyword']

        let url = '/dashboard/listings_items/{{seller}}';
        request.open(method, url);
        request.onload = function () {
            // the response is the rendered HTML
            // which django sends as return render(response, "your_template.html", context)
            let myHTML = request.response;
            // This is the important part
            // Set that HTML to the new, templated HTML returned by the server
        document.getElementById('items').innerHTML = myHTML;
        };
        request.send();
    }
</script>

{% endblock %}


