{% for item in items %}
    <div class="item" onclick="window.location.href='/item/{{seller}}/{{item.id}}'">

        <img class="item-image item-first-image" id="item-first-image-{{item.id}}" src="{{item.image_set.first.image.url}}" onmouseenter="showSecondImage({{item.id}})" onmouseleave="showFirstImage({{item.id}})" width="250px" alt="">
        <img class="item-image item-second-image" id="item-second-image-{{item.id}}" src="{{item.image_set.last.image.url}}" onmouseenter="showSecondImage({{item.id}})" onmouseleave="showFirstImage({{item.id}})" width="250px" alt="">

        <p class="item-title">{{ item.title|truncatechars:35 }}</p>
        <p class="item-price"> {{ item.price|floatformat:2 }}€<p/>
        <p class="items-sold"><img class="items-sold-img" src="/media/icons/items-sold.png">14 sold</p>

    </div>
{% endfor %}