<div class="customization-group" id="customization-group-{{customization_group_id}}">
    <div class="input-group">
        <input type="text" class="input inputfield-customization-group" id="customization-group-input-{{customization_group_id}}" name="customization-group" placeholder=" ">
        <label for="customization-group-input-{{customization_group_id}}">Customization Group</label>
    </div>
    <div class="block3-drag-and-drop" id="block3-drag-and-drop-{{customization_group_id}}">
        <div class="block3-line" id="customization-option-{{customization_group_id}}-1">
            <img class="hamburger" src="/media/icons/hamburger.png" alt="">
            <div class="input-group input-group-inline input-group-inline-option">
                <input type="text" class="input inputfield-customization-option" id="customization-option-input-{{customization_group_id}}-1" name="customization-option" placeholder=" ">
                <label for="customization-option-input-{{customization_group_id}}-1">Customization Option</label>
            </div>
            <div class="input-group input-group-inline input-group-inline-option">
                <input type="number" class="input price-field-customization" id="customization-price-{{customization_group_id}}-1" name="current-price" placeholder=" ">
                <label for="customization-price-{{customization_group_id}}-1">Price</label>
            </div>
            <p>€</p>
            <button class="removeOptionButton" onclick="deleteCustomizationOption('{{customization_group_id}}', '1')"><img class="removeIcon" src="/media/icons/trashcan.png" alt=""></button>
        </div>
        <div class="block3-line" id="customization-option-{{customization_group_id}}-2">
            <img class="hamburger" src="/media/icons/hamburger.png" alt="">
            <div class="input-group input-group-inline input-group-inline-option">
                <input type="text" class="input inputfield-customization-option" id="customization-option-input-{{customization_group_id}}-2" name="customization-option" placeholder=" ">
                <label for="customization-option-input-{{customization_group_id}}-2">Customization Option</label>
            </div>
            <div class="input-group input-group-inline input-group-inline-option">
                <input type="number" class="input price-field-customization" id="customization-price-{{customization_group_id}}-2" name="current-price" placeholder=" ">
                <label for="customization-price-{{customization_group_id}}-2">Price</label>
            </div>
            <p>€</p>
            <button class="removeOptionButton" onclick="deleteCustomizationOption('{{customization_group_id}}', '2')"><img class="removeIcon" src="/media/icons/trashcan.png" alt=""></button>
        </div>
    </div>
    <button class="add-option-button" onclick="addCustomizationOption('{{customization_group_id}}', '2')"><img class="add-img" src="/media/icons/plus.png">Add Option</button>
    <button class="removeButton" onclick="deleteCustomizationGroup('{{customization_group_id}}')">
        <img class="removeIcon" src="/media/icons/trashcan.png" alt="">
        Remove Group
    </button>
</div>
