{% extends "shop/base_dashboard.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/listings_dashboard_style.css' %}">

<nav class="navbar-left">
    <a href="/"><img id="logo-nav" src="/media/logos/logo.png"></a>
    <ul class="dashboard-links">
        <li class="dashboard home" id="navigation-dashboard-link-dashboard"><a href="/dashboard/home"><img class="icon-navbar" src="/media/icons/home-dashboard-white.png" alt="">Dashboard</a></li>
        <li class="dashboard listings active-page" id="navigation-dashboard-link-listings"><a href="/dashboard/listings"><img class="icon-navbar" src="/media/icons/listings-dashboard-white.png" alt="">Listings</a></li>
        <li class="dashboard deliveries" id="navigation-dashboard-link-deliveries"><a href="/dashboard/deliveries"><img class="icon-navbar" src="/media/icons/deliveries-dashboard-white.png" alt="">Deliveries</a></li>
        <li class="dashboard settings" id="navigation-dashboard-link-settings"><a href="/dashboard/settings"><img class="icon-navbar" src="/media/icons/settings-dashboard-white.png" alt="">Settings</a></li>
    </ul>
</nav>


<nav id="header">
    <p><img class="icon"
                src="/media/icons/listings-dashboard.png" alt="">Listings</p>

    <div class="sync-data-button"><img class="sync-data-img" src="/media/icons/sync-data.png">Sync data</div>

</nav>


<div class="mainmain">
    <div class="listings-content">
        <p>Hallo</p>
    </div>

</div>


{% endblock %}






        <form id="form" role="search" onsubmit="(e)=>{e.preventDefault(); updateKeyword()}">
            <img class="icon-navbar"
                    src="/media/icons/search.png" alt="">
            <input type="search" id="query"
                   placeholder="Search..."
                   aria-label="Search through site content">
        </form>