{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/login_style.css' %}">


<div class="main">
    <div id="left">
      <a href="/home/encomi"><img id="logo-nav" src="/media/logos/logo_blue.png"></a>

        <p class="welcome-back">Welcome Back!</p>

      <div class="login-form">
          <form id="form" method="post" action="">

            {% csrf_token %}

            {{form.email}}

            {{form.password}}
            <input type="submit" value="Login" class="login-button">
          </form>
          <a href="/become_seller" class="new-here"> <p>New here? Become a seller</p></a>

      </div>

    </div>

    <div id="right">
        <img id="picture-login" src="/media/icons/picture_login.png">

        <div class="text-picture">
            <p class="text-big">Sell jewellery like never before</p>
            <p class="text-small">We offer the most unique shopping experience</p>
        </div>
    </div>
</div>



{% endblock %}