{% extends "shop/base.html" %}

{% block title %}Seller Policy{% endblock %}

{% block content %}


{% load static %}
<link rel="stylesheet" type="text/css" href="/static/shop/{{seller}}_configuration.css">
<link rel="stylesheet" type="text/css" href="{% static 'shop/seller_policy_style.css' %}">

<!DOCTYPE html>
<div lang="en">



<div class=wrapper>
    <h2>Seller Policy</h2>
    <p>This policy, including all its sub-policies is a part of our <a href="/TOU/encomi"><u>Terms of Use</u></a>. By signing up as a seller on encomi you are agreeing to this seller-specific policy as well as the general Terms of Use. We may adjust our policies over time, as stated in the Terms of Use. You will be notified about relevant changes via E-Mail and your Dashboard. By continuing to use encomi, you are agreeing to those changes.<br /> All specifications in our policies apply to both encomi.co as well as your website.</p>
    <p>If we have reason to believe you are violating either this or one of our other policies, we reserve the right to deactivate some of your content, temporarily deactivate your account or permanently delete it. We will notify you in case of any violation, therefore you have the chance to make changes. In case of a repeated violation (after we have given you the chance for adjustments) your account will be terminated.</p>
    <p>&nbsp;</p>
    <h3>Table of contents</h3>
    <div class="table-of-contents">
        <p><a href="#_Toc118389024">Advertising and Marketing Policy</a></p>
        <p><a href="#_Toc118389025">Behavior and values</a></p>
        <ol>
        <li><a href="#_Toc118389026"> Age</a></li>
        <li><a href="#_Toc118389027"> Privacy</a></li>
        <li><a href="#_Toc118389028"> Honesty and Transparency</a></li>
        <li><a href="#_Toc118389029"> Reliability</a></li>
        <li><a href="#_Toc118389030"> Anti-discrimination</a></li>
        <li><a href="#_Toc118389031"> Communication</a></li>
        </ol>
        <p><a href="#_Toc118389032">Payments Policy</a></p>
        <p><a href="#_Toc118389033">Fees and Costs Policy</a></p>
        <ol>
        <li><a href="#_Toc118389034"> Transaction fee</a></li>
        <li><a href="#_Toc118389035"> Shipping fees</a></li>
        <li><a href="#_Toc118389036"> Fee avoidance</a></li>
        <li><a href="#_Toc118389037"> Recurring payments (not yet implemented)</a></li>
        <li><a href="#_Toc118389038"> Taxes</a></li>
        </ol>
        <p><a href="#_Toc118389039">General information on the registration, your account and your content</a></p>
        <ol>
        <li><a href="#_Toc118389040"> Becoming part of encomi</a></li>
        <li><a href="#_Toc118389041"> Costs</a></li>
        <li><a href="#_Toc118389042"> Your domain</a></li>
        <li><a href="#_Toc118389043"> Your personal shop policies</a></li>
        <li><a href="#_Toc118389044"> Your content</a></li>
        <li><a href="#_Toc118389045"> Your responsibility</a></li>
        <li><a href="#_Toc118389046"> Adding your listings</a></li>
        <li><a href="#_Toc118389047"> Putting items on sale</a></li>
        <li><a href="#_Toc118389048"> Deleting items</a></li>
        <li><a href="#_Toc118389049"> Checkout and payment</a></li>
        <li><a href="#_Toc118389050"> Deactivation and deletion of your account</a></li>
        </ol>
        <p><a href="#_Toc118389051">Legal</a></p>
        <p><a href="#_Toc118389052">Prohibited Items</a></p>
        <p><a href="#_Toc118389053">Shipping and Order Policy</a></p>
        <ol>
        <li><a href="#_Toc118389054"> Role of encomi</a></li>
        <li><a href="#_Toc118389055"> Shipping your items</a></li>
        <li><a href="#_Toc118389056"> Shipping costs</a></li>
        <li><a href="#_Toc118389057"> Shipping insurance</a></li>
        <li><a href="#_Toc118389058"> Vacation mode (not available yet)</a></li>
        <li><a href="#_Toc118389059"> Internationally regulated items, sanctions and trade restrictions</a></li>
        <li><a href="#_Toc118389060"> Returns, exchanges and cancellations</a></li>
        </ol>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3><a name="_Toc118389024"></a>Advertising and Marketing Policy</h3>
    <ol>
    <li>By adding your items to your encomi account and therefore to your website, you grant encomi a license to use it. This does not mean that we claim any ownership of your content, we are just allowed to display your content and use it in the following ways to promote encomi and your business.</li>
    <li><h4>General advertising on social media</h4></li>
    <ol>
    <li>To enhance the reach of all encomi-shops we will get in contact with social media users that acquired a certain follower number. They will receive a discount code and/or link to give to their followers.</li>
    <li>The amount of the discount as well as the frequency and other details are not yet determined. We will get in contact with you to have your agreement and clarify details before taking any steps forward.</li>
    <li>For those buyers who do not have the discount code, all products will have the regular price.</li>
    </ol>
    <li><h4>Shop-specific advertising (not yet implemented)</h4></li>
    <ol>
    <li>encomi offers you the possibility to promote your items on our page.</li>
    <li>On the one hand, this will include the display of your shop on our home page where there are some selected shops suggested to the buyer. As this space is limited, we will use an algorithm that keeps changing between the sellers. For you, this means that we cannot guarantee that your shop will be displayed on the home website at all times even though you applied for this promotion.</li>
    <li>One the other hand, it includes a promotion on our shop website where the products from all shops are displayed. If you applied, some of your items will be pushed, so that they are on top of the page for the buyer. This does not just apply to the &ldquo;All&rdquo; page but to all categories. If there are several sellers registered for this promotion, we will again use an algorithm that changes between all, so we cannot guarantee that your items will be displayed on top of the page.</li>
    <li>For information about pricing see our <u>Fee&amp;Payment </u><u>Policy</u>.</li>
    <li>We reserve the right to refuse a promotion request if there is a given reason.</li>
    </ol>
    </ol>
    <p>&nbsp;</p>
    <h3><a name="_Toc118389025"></a>Behavior and values</h3>
    <h4><a name="_Toc118389026"></a>1.&nbsp;&nbsp;&nbsp;&nbsp; Age</h4>
    <ol>
    <li>You have to be 18 years or older to be a seller on our</li>
    </ol>
    <h4><a name="_Toc118389027"></a>2.&nbsp;&nbsp;&nbsp;&nbsp; Privacy</h4>
    <ol>
    <li>Protect your privacy. This includes avoiding to share private information on your profile or in contact with your buyers like e.g. personal contact details.</li>
    <li>Buyers have the possibility to contact you via E-Mail when they use the &ldquo;message seller&rdquo; button on your item page. You can specify the E-Mail used for this on your dashboard.</li>
    </ol>
    <h4><a name="_Toc118389028"></a>3.&nbsp;&nbsp;&nbsp;&nbsp; Honesty and Transparency</h4>
    <ol>
    <li>We as encomi appreciate transparency in sellers. This means an accurate presentation and description of your items, including information about the origin and production of items, materials etc.</li>
    <li>Be upright about who you are. To avoid fake identities, we ask you for your full name when you are registering as a seller, this information will not be given to anyone else but us. Find more information about how we use your information in our <a href="/privacy_policy/encomi"><u>Privacy Policy</u></a>.</li>
    </ol>
    <h4><a name="_Toc118389029"></a>4.&nbsp;&nbsp;&nbsp;&nbsp; Reliability</h4>
    <ol>
    <li>Your buyers rely on you. This means they expect reliant information about the products you make, like e.g. which materials are used, where they come from, how they are made; they rely on the quality you exhibit on your shop. The same goes for shipping, so please make sure to meet the indicated shipping time, when receiving returns refund the money in time and so on. Have in mind that happy customers are customers that are likely to come back or recommend your shop to others.</li>
    <li>We reserve the right to terminate your use of encomi if there are increased complaints about you. However, we will contact you to try to resolve the issue before taking any action.</li>
    </ol>
    <h4><a name="_Toc118389030"></a>5.&nbsp;&nbsp;&nbsp;&nbsp; Anti-discrimination</h4>
    <ol>
    <li>encomi prohibits any kind of discrimination against someone based on their personal characteristics. These include color, ethnicity, origin, religion, gender, gender identity, sexual orientation, disabilities etc. Discrimination includes behavior/treatment as well as language concerning any kind of interaction with other users on encomi like e.g. the refusal of service or the expression of intolerance or disrespect because of their personal attributes.</li>
    <li>If we believe your communication, shop content or else contains any kind of discrimination against certain group(s), we reserve the right to deactivate your account temporarily or permanently in case of repeated discrimination.</li>
    <li>If you notice discriminative behavior from someone else, please contact us via email so that we can take care of it as soon as possible.</li>
    </ol>
    <h4><a name="_Toc118389031"></a>6.&nbsp;&nbsp;&nbsp;&nbsp; Communication</h4>
    <ol>
    <li>We want to create a safe space for everyone, this does not only include anti-discrimination but also a respectful communication in general. When in contact with other users, stay friendly and humble. This means not using insults, disrespectful language etc.</li>
    </ol>
    <h3><a name="_Toc118389032"></a>Payments Policy</h3>
    <ol>
    <li>On encomi we use the service of PayPal which includes payments by credit card, debit card and PayPal among others. As this service is provided by PayPal, encomi is not liable for any issues concerning payments. PayPal policies can be viewed on their website.</li>
    <li>When selling an item, you will receive the money on your PayPal/bank account minus the 3.9% transaction fee which will be redirected to us.</li>
    <li>PayPal also has transaction fees on their own which are around 3% depending on your location. More information on this can be found on the website of PayPal (For the U.S.: <a href="https://www.paypal.com/us/webapps/mpp/merchant-fees">https://www.paypal.com/us/webapps/mpp/merchant-fees</a> ).</li>
    </ol>
    <p>&nbsp;</p>
    <h3><a name="_Toc118389033"></a>Fees and Costs Policy</h3>
    <h4><a name="_Toc118389034"></a>1.&nbsp;&nbsp;&nbsp;&nbsp; Transaction fee</h4>
    <ol>
    <li>When selling an item via encomi or your website, you will be charged a transaction fee of 3.9% of the order-total including delivery fees.</li>
    <li>This fee is paid for every transaction, meaning if you have a return, the transaction fee will not be redirected to</li>
    </ol>
    <h4><a name="_Toc118389035"></a>2.&nbsp;&nbsp;&nbsp;&nbsp; Shipping fees</h4>
    <ol>
    <li>The whole process of shipping including shipping fees is entirely up to you as a seller, therefore encomi is not involved in this.</li>
    <li>Your shipping details can be defined in your personal shop policies, which you can find in your profile settings.</li>
    <li>In general, the shipping fees are carried by the buyer. They will see them in their cart (and in your policies), if you offer more than one shipping option, they can choose and you will see the chosen option in your order list on your dashboard.</li>
    </ol>
    <h4><a name="_Toc118389036"></a>3.&nbsp;&nbsp;&nbsp;&nbsp; Fee avoidance</h4>
    <ol>
    <li>Any activity intended to avoid the payment of the fee is prohibited by encomi. This includes encouraging buyers to purchase your products on another platform, via a private transaction or else.</li>
    <li>Also, a change of the items price to avoid or reduce fees is prohibited. This behavior can lead to a temporary or permanent deactivation of your account.</li>
    </ol>
    <h4><a name="_Toc118389037"></a>4.&nbsp;&nbsp;&nbsp;&nbsp; Recurring payments (not yet implemented)</h4>
    <ol>
    <li>If you decide to have your own domain or use the shop specific advertising mentioned above, there will be recurring, monthly payments.</li>
    <li>You can activate or deactivate these options on your dashboard on a monthly basis. So, if you start your subscription on the 5<sup>th</sup> of the month, it will renew itself on the 5<sup>th</sup> of the next month.</li>
    <li>If you do not want to continue using this service, you just have to cancel the subscription at least one day before, in this example on the 4<sup>th</sup>. However, the service itself will continue for the full month even when your subscription is already cancelled.</li>
    <li>This payment is not</li>
    </ol>
    <h4><a name="_Toc118389038"></a>5.&nbsp;&nbsp;&nbsp;&nbsp; Taxes</h4>
    <ol>
    <li>encomi is not involved with the payment of taxes, therefore you are responsible to inform yourself about the valid regulations in your country concerning the taxes that have to be paid by you.</li>
    <li>encomi is also not responsible nor liable for any issues concerning taxes like e.g. tax fraud, tax avoidance or else.</li>
    </ol>
    <p>&nbsp;</p>
    <h3><a name="_Toc118389039"></a>General information on the registration, your account and your content</h3>
    <h4><a name="_Toc118389040"></a>1.&nbsp;&nbsp;&nbsp;&nbsp; Becoming part of encomi</h4>
    <p>There are two ways to become a part of encomi:</p>
    <ol>
    <li>We contact you personally with the invitation to join our platform. As a next step, you fill out the form on our website &ldquo;Become a seller&rdquo; which includes your personal data like e.g. your email address and your username, but most importantly the preferences for your website. This helps us to build your website the way you want it, customized to your unique brand, so that you have the best selling experience while having as little effort as possible. As a next step we will send you the finished template of your website, so that you can check whether everything is to your satisfaction. As soon as we have your approval, your website will go live and your shop will be added to encomi.co. For the upcoming steps see <u>Your content</u>.</li>
    <li>You apply for encomi via the &ldquo;Become a seller&rdquo; form. The general procedure is the same as for invited sellers but before we start designing your website, we will check/examine if your products and your shop match the requirements for our encomi sellers. That is why we ask you to either send us your Instagram profile, your already existing shop on another platform or website, or anything else (e.g. pictures) from where you sold your products up to this point. At the moment encomi is only for selling jewelry and similar, but you can come back to us at a later point in time as we plan to expand our product range in a later stage.</li>
    </ol>
    <h4><a name="_Toc118389041"></a>2.&nbsp;&nbsp;&nbsp;&nbsp; Costs</h4>
    <ol>
    <ol>
    <li>You can use encomi without paying any recurring fees. Therefore, the only costs for you are the transaction fee of 3.9%. To read more about that go to our <u>Fees &amp; Payment Policy</u>.</li>
    <li>If you register for your own domain additional costs will occur, see <u>Your domain</u>.</li>
    <li>Also, the promotion comes with additional, monthly costs, you can also read more about this in our <u>Advertising and Marketing Policy</u> as well as the <u>Fees and Costs Policy</u>.</li>
    </ol>
    </ol>
    <h4><a name="_Toc118389042"></a>3.&nbsp;&nbsp;&nbsp;&nbsp; Your domain</h4>
    <ol>
    <li>As our seller, you have the option to either get a domain from us for free which contains your username/a chosen name from you and encomi (yourname.encomi.co) or you can acquire an independent domain. Your domain name has to comply with our terms of use, e.g. it cannot contain any kind of hatred. Also, we cannot guarantee that the domain chosen by you will be available, in that case we will contact you and offer alternatives.</li>
    <li>If you would like to acquire your own domain please contact us via Email.</li>
    <li>The billing starts on the day we activate the domain for you.</li>
    <li>If you would like to change your choice later on, you can contact us via Email. This will be effective at the end of your billing period.</li>
    <li>An already made payment for that month cannot be refunded. The same goes if you delete your account, we cannot refund you the costs for your domain for that month.</li>
    <li>In some cases, we offer you your down domain for free for a certain amount of time. We will inform you beforehand when the billing would start and that you have to cancel at least one day beforehand if you do not want to continue using our services.</li>
    </ol>
    <h4><a name="_Toc118389043"></a>4.&nbsp;&nbsp;&nbsp;&nbsp; Your personal shop policies</h4>
    <ol>
    <li>In general, our policies also apply to your shop, however, you have the possibility to have your own shop policies including shipping information, return policies etc. that give the buyer further information how your shop works.</li>
    <li>These can be added and edited on your dashboard under settings.</li>
    <li>When first registering you have to provide us with your return conditions before we can activate your website and account.</li>
    </ol>
    <p>&nbsp;</p>
    <h4><a name="_Toc118389044"></a>5.&nbsp;&nbsp;&nbsp;&nbsp; Your content</h4>
    <ol>
    <li><h4><a name="_Toc118389045"></a>Your responsibility</h4></li>
    <ol>
    <li>You are solely responsible for your content; you confirm that you have the rights for your content and you are not harming any third parties&rsquo; rights or disrespecting our terms of use.</li>
    </ol>
    <li><h4>Your website and your shop on encomi</h4></li>
    <ol>
    <li>Your encomi-shop and your website are inevitably connected, this means that every item and category you have on encomi will also be displayed on your website. You can manage everything on your encomi-dashboard, this will automatically apply to your website as well.</li>
    </ol>
    <li><h4><a name="_Toc118389046"></a>Adding your listings</h4></li>
    <p>When the registration process is finished and you have gotten access to your account by us, you can start uploading your items via the dashboard. There are two ways to add items to your shop:</p>
    <ol>
    <li>You use our &ldquo;Import data&rdquo; button which will automatically add all the items you have uploaded on Etsy to your shop. Afterwards you can still change descriptions, categories or other details on the dashboard.</li>
    <li>The second option is uploading the items yourself, also via the dashboard. This includes pictures of the item, a title, the price, a potential discount (by using the fields for old price and new price), a description with all needed details, potential style options etc. You can still do this after importing the data in the first option.</li>
    <li>In any case, you are obligated to use your own photos and phrasing, and provide accurate information about the item.</li>
    </ol>
    <li><h4><a name="_Toc118389047"></a>Putting items on sale</h4></li>
    <ol>
    <li>As your Etsy shop is connected to your encomi shop, the items you have on sale on Etsy will also be on Sale on encomi as soon as you use the sync button on your dashboard.</li>
    <li>You can also put items on sale manually by creating an old price and a new price in your listings.</li>
    </ol>
    <li><h4><a name="_Toc118389048"></a>Deleting items</h4></li>
    <ol>
    <li>To ensure a proper functioning of our and your website you cannot delete items that have been bought at least once. Nevertheless, you have the possibility to either deactivate them (which removes them from your shop but is not messing with our database, and you still have them on your dashboard) or mark them as &ldquo;out of stock&rdquo; which does not remove them from your shop but prevents buyers to put them in their cart.</li>
    </ol>
    </ol>
    <p>&nbsp;</p>
    <h4><a name="_Toc118389049"></a>6.&nbsp;&nbsp;&nbsp;&nbsp; Checkout and payment</h4>
    <ol>
    <ol>
    <li>Your items can be purchased through the encomi website as well as your own website. In both cases, you will get a notification with the items bought as well as shipping information. You can also see all information regarding orders on your dashboard.</li>
    <li>You are obligated to ship the products within a reasonable amount of time (the time given in your personal shipping policy) and then mark them as shipped on your dashboard so your buyer knows when to expect their order.</li>
    </ol>
    </ol>
    <h4><a name="_Toc118389050"></a>7.&nbsp;&nbsp;&nbsp;&nbsp; Deactivation and deletion of your account</h4>
    <ol>
    <ol>
    <li>We do not have a period of notice for encomi, so if you want to, you can delete your account at any time. Be aware that deleting your account also deletes your website. Within 30 days after deleting your accounting we store your data on our server, which gives you the possibility to reactivate your account within that time frame.</li>
    <li>The same goes for a temporary deactivation due to a violation of our terms of use, if your account has been deactivated for more than 30 days, it will be permanently deleted and you can no longer use our services even by creating a new account.</li>
    </ol>
    </ol>
    <p>&nbsp;</p>
    <h3><a name="_Toc118389051"></a>Legal</h3>
    <ol>
    <li>You are solely responsible for complying with your own shop policies (see <a href="#_Toc118389043"><u>Your personal shop policies</u></a>). To make it easier for you and to provide clear information for the buyers, we provided some tools in your dashboard.</li>
    <li>You are solely responsible for complying with all legal requirements that may apply to you as a user and seller on encomi. By agreeing to this policy, you are releasing encomi from any liability related to the use of encomi and your website with your own domain.</li>
    <li>We reserve the right to remove any content from your account and therefore your website as well or even deactivate your account in severe cases, if you are violating any of our policies or if there are any legal reasons.</li>
    </ol>
    <p>&nbsp;</p>
    <h3><a name="_Toc118389052"></a>Prohibited Items</h3>
    <ol>
    <li>encomi is not a secondhand-platform but one for selling handmade products. This means that selling products that are not crafted, made, designed (or similar) by you, your team or your employees are not allowed. We reserve the right to delete items or deactivate your account in case you are not complying with this guideline.</li>
    <li>Furthermore, there are certain items we do not want to have sold on encomi. If we have reason to believe the items sold in your shops fall in any of those categories, we reserve the right to temporarily or permanently deactivate your shop and website.</li>
    <li>These items are prohibited on our websites:</li>
    <ul class="prohibited-items">
    <li>Alcohol, tobacco or any kind of drugs</li>
    <li>Certain animal products (not including leather or fabric made from animal material) or human remains</li>
    <li>Dangerous items or items that promote violence like e.g. weapons</li>
    <li>Items supporting hatred, discrimination etc.</li>
    <li>Illegal items, items promoting legal activity and highly regulated items</li>
    <li>Nudity and other pornographic content</li>
    </ul>
    <li>There can be exceptions for each category, so if you are not sure whether the items you would like to sell on our platform fall into these categories, please contact us via our message form.</li>
    <li>If you suspect another user to sell items in one of those categories, please also use the possibility to contact us, so that we can investigate and possibly deactivate the account of that seller.</li>
    </ol>
    <p>&nbsp;</p>
    <h3><a name="_Toc118389053"></a>Shipping and Order Policy</h3>
    <h4><a name="_Toc118389054"></a>1.&nbsp;&nbsp;&nbsp;&nbsp; Role of encomi</h4>
    <ol>
    <ol>
    <li>encomi is not involved in the shipping of items, therefore returns, refunds, lost packages, false orders or any other issues concerning shipping and the financial aspect of shipping is solely your responsibility. This means e.g. that encomi does not refund money for lost packages, is not involved in the communication between seller and buyer when issues concerning shipping arise or else. The liability for shipping lies solely with the respective seller.</li>
    <li>encomi as a company is located in Germany yet our shops are placed in many different countries of the world. All of those have different shipping options, shipping costs, trade restrictions when shipping across borders and so on. As a seller you are responsible to choose the shipping option that is of most benefit for you as well as your customer while complying with laws, trade regulations etc.</li>
    </ol>
    </ol>
    <h4><a name="_Toc118389055"></a>2.&nbsp;&nbsp;&nbsp;&nbsp; Shipping your items</h4>
    <p>As a seller you are solely responsible for the packaging and shipping of your items. This includes the following:</p>
    <ol>
    <li>Make sure your buyers receive their orders within a reasonable time-period. This means shipping items within 30 items after their purchase, unless you specify a longer time period in your listings and/or shop policies. You are required to specify your processing time in your shop policy but can also do it for each listing, especially if they differ from the general time.</li>
    <li>You have to provide an accurate &ldquo;ships from&rdquo; address.</li>
    <li>You can choose for yourself if you would like to limit your shipping to your own country or not. If you choose to ship to other countries as well, it is your responsibility to inform yourself as well as the buyer about shipping costs, potential trade restrictions, potential additional costs like e.g. customs duty etc. encomi is not liable for any issues concerning the shipping across borders as well as within your country.</li>
    <li>Due to the use of PayPal as our third-party-payment processor we can only accept payments from countries that are on the PayPal countries list that can be found online. This limitation applies to sending money as well as receiving it.</li>
    <li>Make sure to ship to the address provided by the buyer.</li>
    <li>Mark the order as shipped after you have shipped it, this can be done on your Dashboard. It will send a notification to the</li>
    </ol>
    <h4><a name="_Toc118389056"></a>3.&nbsp;&nbsp;&nbsp;&nbsp; Shipping costs</h4>
    <ol>
    <li>You have to provide your shipping costs in your shop policy but can also do it for each listing.</li>
    <li>The cost of shipping depends on many factors like the origin and destination, the weight and size of the parcel or the chosen shipping company. However, encomi does not carry those costs, therefore you are responsible to choose the option that fits best for you and your buyer(s). When choosing a more expensive option you&rsquo;ll have to carry those costs on your own or make an arrangement with the buyer if they are willing to carry the additional</li>
    </ol>
    <h4><a name="_Toc118389057"></a>4.&nbsp;&nbsp;&nbsp;&nbsp; Shipping insurance</h4>
    <ol>
    <li>You are not obliged to insure your shippings yet it is recommended by us. This ensures a good selling as well as buying experience for all parties involved. If shipments are lost or damaged encomi is not in any way liable for refunds or similar.</li>
    <li>In case an order does not arrive, you should be able to provide valid proof of shipping. It must show that the item(s) were actually shipped and were shipped to the correct address. If a buyer does not receive their order and you cannot provide a valid proof, you are required to ship their order again and carry the incurred costs by yourself. Feel free to contact encomi for support, if any issues arise.</li>
    </ol>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h4><a name="_Toc118389058"></a>5.&nbsp;&nbsp;&nbsp;&nbsp; Vacation mode (not available yet)</h4>
    <ol>
    <li>If you are unable to sell for a certain amount of time due to vacation, injury or else; you have the possibility to put your shop on vacation-mode with a set time.</li>
    <li>This means that buyers will still see your items on both encomi and your website, they are also able to put them in their cart and order them but they will be notified on the item page that the shipping takes the number of days longer you have set prior to that.</li>
    <li>On your website we will add a banner on top of your page that your shop is currently closed for shipping and will resume its activities on the date set by you.</li>
    </ol>
    <p>&nbsp;</p>
    <h4><a name="_Toc118389059"></a>6.&nbsp;&nbsp;&nbsp;&nbsp; Internationally regulated items, sanctions and trade restrictions</h4>
    <ol>
    <li>As encomi is a global company, sellers as well as buyers are distributed in various countries and therefore have to conform to economic sanctions and trade restrictions. This means e.g. that our users cannot take part in transactions that involve certain persons, places or materials and objects that stem from certain places. Please inform yourself online about possible regulations.</li>
    <li>When selling an item to another country, you are responsible to not only comply with your local laws and regulations but also those from the country of destination.</li>
    <li>Encomi is not involved in the manufacturing of goods, therefore the origin of materials, as well as the transaction itself that is just between the seller and</li>
    <li>By agreeing to our terms of use, including this policy, you understand that encomi is not liable for any form of violation of trade restrictions. The responsibility for the correct management of your supply chain lies with you as a seller.</li>
    <li>If we have reason to believe you are violating any trade restrictions, we reserve the right to temporarily or permanently deactivate your account. We may also disable single listings that violate this policy.</li>
    <li>It is possible that PayPal, as a third-party-payment processor, may independently monitor transactions to detect violations of sanctions, restrictions etc. and in consequence may block certain transactions. encomi does not have any authority or control over these decisions.</li>
    <li>Economic sanctions and restrictions can change consistently therefore it is important to inform yourself on a regular basis. If needed, please consult a professional for legal advice.</li>
    </ol>
    <h4><a name="_Toc118389060"></a>7.&nbsp;&nbsp;&nbsp;&nbsp; Returns, exchanges and cancellations</h4>
    <ol>
    <li>As a seller, you can choose for yourself if you would like to accept returns, exchanges and cancellations or not.</li>
    <li>If so, you are obligated to specify your conditions including the procedure for the buyer, potential costs for them, refunding options etc. in your shop policies that can be found on your dashboard.</li>
    </ol>
    <p>&nbsp;</p>
    <p><u>Last updated on Nov. 3<sup>rd</sup> 2022</u></p>
    <p>&nbsp;</p>
</div>

{% endblock %}