<div class="faqs-wrapper" id="faqs-wrapper">
    {% for faq in seller_faqs %}
    <div class="faqs-inputfields" data-id="{{faq.id}}">
        <input class="faqs-inputfield-question" placeholder="Your question" onkeydown="showSaveButton('faqs')" value="{{faq.question}}">
        <textarea class="faqs-inputfield-answer" placeholder="Your answer" onkeydown="showSaveButton('faqs')">{{faq.answer}}</textarea>
    </div>
    {% endfor %}
    {% if not seller_faqs %}
    <p id="no-faqs">You haven't added FAQs yet</p>
    {% endif %}

</div>

<script>

</script>