

<div class="faqs-wrapper">

    <div class="faqs-inputfields">
        <input id="faqs-inputfield-question" name="faqs-inputfield-question" placeholder="Your question"></input>
        <textarea id="faqs-inputfield-answer" name="faqs-inputfield-answer">Your answer</textarea>
    </div>

    <div class="faqs-inputfields">
        <textarea id="faqs-inputfield-question" name="faqs-inputfield-question">Your question</textarea>
        <textarea id="faqs-inputfield-answer" name="faqs-inputfield-answer">Your answer</textarea>
    </div>

    <div class="faqs-inputfields">
        <textarea id="faqs-inputfield-question" name="faqs-inputfield-question">Your question</textarea>
        <textarea id="faqs-inputfield-answer" name="faqs-inputfield-answer">Your answer</textarea>
    </div>

    <div class="faqs-inputfields">
        <textarea id="faqs-inputfield-question" name="faqs-inputfield-question">Your question</textarea>
        <textarea id="faqs-inputfield-answer" name="faqs-inputfield-answer">Your answer</textarea>
    </div>

</div>