


<form id="policiesForm" method="post" action="">
    {% csrf_token %}
    <div class="settings-block1-info">
        <p class="block-heading-info">Infos</p>
        <div class="settings-block1-content">
            <p class="block1-titles T1">Shop Name</p>
            <p class="block1-info I1">encomi jewels</p>
            <p class="block1-titles T2">Domain</p>
            <p class="block1-info I2">encomi.co</p>
            <p class="block1-titles T3">E-Mail Address</p>
            <p class="block1-info I3">encomi.co@outlook.com</p>

        </div>

        <a href="mailto:encomi.co@outlook.com?Subject=Inquire%20changes%20-%20infos&body=Please%20specify%20the%20changes%20%20you%20would%20like%20to%20have:" class="info-changes-button"><img class="sync-data-img" src="/media/icons/sync-data.png">Inquire changes</a>
    </div>

    <div class="settings-block2-info">
        <p class="block-heading-info">Appearance</p>

        <div class="block2-content">
            <div class="landing-page">
                <p class="block2-titles">Landing page</p>
                <img class="image-page" src="/media/icons/shop_page_example.png" alt="">
            </div>

            <div class="shop-page">
                <p class="block2-titles">Shop page</p>
                <img class="image-page" src="/media/icons/shop_page_example.png" alt="">
            </div>

            <div class="item-page">
                <p class="block2-titles">Item page</p>
                <img class="image-page" src="/media/icons/shop_page_example.png" alt="">
            </div>
        </div>

        <a href="mailto:encomi.co@outlook.com?Subject=Request%20changes%20-%20appearance&body=Please%20specify%20the%20changes%20%20you%20would%20like%20to%20have:" class="appearance-changes-button"><img class="sync-data-img" src="/media/icons/sync-data.png">Request new designs</a>


    </div>

</form>