{% extends "shop/base_dashboard.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/settings_dashboard_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shop/settings_dashboard_info_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shop/settings_dashboard_policies_style.css' %}">

<nav class="navbar-left">
    <a href="/"><img id="logo-nav" src="/media/logos/logo.png"></a>
    <ul class="dashboard-links">
        <li class="dashboard-link nav-home" id="navigation-dashboard-link-dashboard"><a href="/dashboard/home/{{seller}}"><img class="icon-navbar" src="/media/icons/home-dashboard-white.png" alt="">Dashboard</a></li>
        <li class="dashboard-link nav-listings" id="navigation-dashboard-link-listings"><a href="/dashboard/listings/{{seller}}"><img class="icon-navbar" src="/media/icons/listings-dashboard-white.png" alt="">Listings</a></li>
        <li class="dashboard-link nav-deliveries" id="navigation-dashboard-link-deliveries"><a href="/dashboard/deliveries/last/{{seller}}"><img class="icon-navbar" src="/media/icons/deliveries-dashboard-white.png" alt="">Deliveries</a></li>
        <li class="dashboard-link nav-settings active-page" id="navigation-dashboard-link-settings"><a href="/dashboard/settings/{{seller}}"><img class="icon-navbar" src="/media/icons/settings-dashboard-white.png" alt="">Settings</a></li>
    </ul>

</nav>

<nav id="header">
    <p id="header-title"><img class="icon-header"
                src="/media/icons/settings-dashboard.png" alt="">Settings</p>
        <button class="save-button" id="save-button" type="submit" disabled form="policiesForm"><img class="sync-data-img" src="/media/icons/sync-data.png">Save Changes</button>
</nav>


<div class="mainmain">

    <div class="settings-content">
        <div class="navbar-top">
            <ul class="navbar-top-links">
                <li class="navbar-top-link" id="navbar-top-link-info" onclick="updateSettingsContent('info')"><a>Info & Appearence</a></li>
                <!--<li class="navbar-top-link" id="navbar-top-link-shipping" onclick="updateSettingsContent('shipping')"><a>Shipping</a></li>-->
                <li class="navbar-top-link navbar-top-link-selected" id="navbar-top-link-policies" onclick="updateSettingsContent('policies')"><a>Policies</a></li>
                <!--<li class="navbar-top-link" id="navbar-top-link-users" onclick="updateSettingsContent('users')"><a>Users</a></li>-->
            </ul>
        </div>

        <div id="settings-content-blocks">
            {% include "shop/settings_dashboard_policies.html" %}
        </div>

    </div>

</div>


<script>
    var settings_changed = false

    function updateSettingsContent(content){
        settings_links = document.getElementsByClassName('navbar-top-link')
        for(let i=0; i<settings_links.length; i++){
            settings_links[i].classList.remove('navbar-top-link-selected')
        }

        settings_link_str = 'navbar-top-link-'+ content
        document.getElementById(settings_link_str).classList.add('navbar-top-link-selected')


        let request = new XMLHttpRequest();
        let method = 'GET';

        let url = '/dashboard/update_settings_content/{{seller}}/' + content;
        request.open(method, url);
        request.onload = function () {
            let myHTML = request.response;
        document.getElementById('settings-content-blocks').innerHTML = myHTML;
        };
        request.send();
    }

    function showSaveButton(){
    console.log(1)
        button = document.getElementById('save-button')
        button.type = 'submit'
        button.style.opacity = 1
        button.disabled = false
        settings_changed = true
    }

    window.onbeforeunload = function(){
      if(settings_changed){
          return 'Are y ou sure you want to leave?';
      }

    };
</script>



{% endblock %}