{% extends "shop/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/shop_style.css' %}">


<div class="navigation">
    <form id="form" role="search">
    <img class="icon"
            src="media/icons/search.png" alt="">
    <input type="search" id="query" name="q"
           placeholder="Search..."
           aria-label="Search through site content">
    </form>
    <ul class="navigation-links">
        <li class="navigation-link"><a href="">All</a></li>
        <li class="navigation-link"><a href="">On Sale</a></li>
        <li class="navigation-link"><a href="">Necklaces</a></li>
        <li class="navigation-link"><a href="">Crystal Necklaces</a></li>
        <li class="navigation-link"><a href="">Bracelets</a></li>
        <li class="navigation-link"><a href="">Layered Necklace SET</a></li>
        <li class="navigation-link"><a href="">Rings</a></li>
        <li class="navigation-link"><a href="">Earrings & Ear Climbers</a></li>
        <li class="navigation-link"><a href="">Pearls Jewellery</a></li>
        <li class="navigation-link"><a href="">Healing Necklaces</a></li>
        <li class="navigation-link"><a href="">All</a></li>
        <li class="navigation-link"><a href="">On Sale</a></li>
        <li class="navigation-link"><a href="">Necklaces</a></li>
        <li class="navigation-link"><a href="">Crystal Necklaces</a></li>
        <li class="navigation-link"><a href="">Bracelets</a></li>
        <li class="navigation-link"><a href="">Layered Necklace SET</a></li>
        <li class="navigation-link"><a href="">Rings</a></li>
        <li class="navigation-link"><a href="">Earrings & Ear Climbers</a></li>
        <li class="navigation-link"><a href="">Pearls Jewellery</a></li>
        <li class="navigation-link"><a href="">Healing Necklaces</a></li>
    </ul>
</div>

<div class="products">

    <div class="dropdown-wrapper">
        <div class="dropdown">
                <button class="dropbtn">Sort: Best
                <i class="fa fa-caret-down"></i>
                    <img class="arrow-down"
                    src="media/icons/arrow-down.png" alt="">
                </button>
            <div class="dropdown-content">
                <a href="">Sort: Best</a>
                <a href="">Sort: Ascending</a>
                <a href="">Sort: Descending</a>
            </div>
        </div>
    </div>

    <br/>

    <div class="items">
    {% for item in items %}
        <div class="item">
            <img src="{{item.image_set.first.image.url}}" width="250px" alt="">
            <p>{{ item.title }}</p>
            <p> {{ item.price }}€<p/>
        </div>
    {% endfor %}
    </div>
</div>


<!--{% for item in items %}
    <div class="item">
        <img src="{{item.images.first.image.url}}" alt="">
        <p>{{ item.title }}</p>
        <button id="button{{forloop.counter}}" onclick="removeFromCart('{{forloop.counter}}')">Add to Cart</button>
    </div>
{% endfor %}
-->


<script>
    function addToCart(index){
        buttonId = 'button' + index;
        button = document.getElementById(buttonId);
        button.innerHTML = "Add to cart";
        str = "javascript: removeFromCart(" + index + ");";
        button.setAttribute( "onClick", str );
    }

    function removeFromCart(index){
        buttonId = 'button' + index;
        button = document.getElementById(buttonId);
        button.innerHTML = "Remove from Cart";
        str = "javascript: addToCart(" + index + ");";
        button.setAttribute( "onClick", str );
    }


</script>


{% endblock %}